*.pyc
.pydevproject
.project
.settings/*
db.sqlite3
data_import/migrations/*
data_import/static/data_import/css/unused/*
data_import/migrations/*
*.swp
*.swo
.idea
.DS_Store
managesys/.ropeproject/
.ropeproject
