{% extends "data_import/base.html" %}
{% block title %}{% if title %}{{ title }}{% endif %}{% endblock %}
{% block pagejs %}
<script type="text/javascript" src="/static/data_import/libs/echarts/echarts.js"></script>
{% endblock pagejs %}
{% block content %}

<h2>青钢转炉数据分析</h2>
<h7><a href='/fluctuation'>To波动率分析页面  </a><a href='/test'>  To时间插件测试</a></h7>


<div>
    <!-- 隐藏域 -->
    <input type="hidden" name="hidden_inform1" id='hidden_inform1'> 
    <input type="hidden" name="hidden_inform2" id='hidden_inform2'> 
    <input type="hidden" name="hidden_inform3" id='hidden_inform3'> 
    <input type="hidden" name="hidden_inform4" id='hidden_inform4'> 

    <p><strong>单炉次投入成本及产品产出情况分析及原因追溯</strong></p>
    <p>请输入要选择的炉次号，例如：1634230</p>
    炉次号：<input type="text" name="prime_analyse" value="1634230" id="prime_analyse">
    <button onclick="cost_produce('cost',this)" id='click2'>投入成本分析结果</button>
    <button onclick="cost_produce('produce',this)" id='click3'>产出产品分析结果</button>
    <br>
</div>

<div style="width:1600px">
<div id="main1" style="float:left;width:600px;height:450px"></div>
<div id="main2" style="float:left;width:600px;height:450px"></div>
<!--<textarea id="txt" style="width: 800px;height:100px;">下</textarea></div>-->
<div id='coloum_div' > 
    <!-- 改变柱状个数 -->
    <br>
    <br>
    <br>
    <lebel>请选择分布图柱状数目：</lebel>
    <select name='change_column' id='change_column' onChange="change_column()">
        <option value='5'>5 </option> 
        <option value='10'>10 </option> 
        <option value='20'>20 </option> 
        <option value='50' selected="selected">50 </option> 
  </select> 
</div>  
</div>                 

<div id='cause_area'>
   <!--table用来放置因素追溯的分析结果-->
    <!-- <table id='txt' style="width: 700px;height:100px;border:0px;">
    </table>  -->
    <p><strong>转炉工序单炉次字段成本追溯结果：</strong></p>
    <textarea id="cause_txt" style="width: 900px;height:150px;"></textarea>
</div>
<!-- <button onclick='updatevalue()' id='updatevalue'>定期更新数据库转炉字段统计值</button> -->

<script type="text/javascript" src="/static/data_import/js/loadChart_chen.js"></script>
<script type="text/javascript" src="/static/data_import/js/loadParam.js"></script>
<script type="text/javascript"> 
    // //定期更新数据库中表结构表中的期望等参数值(现已单独成文件，不放在整体程序中)
    // function updatevalue(){
    //     $.ajax({
    //     type: "post",
    //     url:  "/updatevalue",
    //     data: {},
    //     error: function() {
    //         alert("发生错误！");
    //     },
    //     success: function(data) {
    //         alert(data.state);
    //     }
    //  })
    // }


    //改变概率直方分布的柱状个数
    function change_column(){
        var fieldname_english = $("#hidden_inform1").val();
        var fieldname_chinese = $("#hidden_inform2").val();
        var actual_value = $("#hidden_inform3").val();
        var offset_value = $("#hidden_inform4").val();
        probability_normal(fieldname_chinese,fieldname_english,offset_value,actual_value);

    }
    //成本消耗
    function cost_produce(a,obj){
        var heat_no = $("#prime_analyse").val();
        console.log(heat_no)
        $.ajax({
            type: "post",
            url:  "/cost_produce",
            data: {'heat_no':heat_no,'nature':a},
            error: function() {
                alert("错误！！");
            },
            success: function(data) {
                //alert(data.result);
                //alert(data.result.xname)
                //alert(data.result.yvalue)
                // alert(data.result.offset_result[0]);
                // $("#offset").val(data.result.offset_result[0]);
                if(a=='cost'){
                    drawBarChart_cost(data.result);
                }
                else{
                    drawBarChart_produce(data.result);
                }
                
            }
        })
    };   

    //回归系数因素追溯及其偏离程度
    function retrospectfactor(fieldname_english,fieldname_chinese,offset_value){
        var heat_no = $("#prime_analyse").val();
        // console.log(prime_analyse)
        $.ajax({
            type: "post",
            url:  "/max_influence",
            data: {'field':fieldname_english,'offset_value':offset_value,'heat_no':heat_no},
            error: function() {
                alert("错误！！");
            },
            success: function(data) {
                //alert(data.result)
                // alert("success");
                // alert(data.offset_number);//字段个数
                // alert(data.xasis_fieldname);//字段英文名数组
                // alert(data.offset_result);//字段偏离程度
                // alert(data.En_to_Ch_result);//字段中文名
                // alert(data.regression_coefficient);
                // $("#txt").empty();//清除表格内容
                $("#cause_txt").empty();//清除文本框内容
                // $("#cause_txt").append('单炉次'+field+'字段因素追溯的分析结果:\n');
                $("#cause_txt").append('经分析，'+heat_no+'炉次下的'+fieldname_chinese+'('+fieldname_english+')字段，偏离程度为'+offset_value+'。\n成本追溯分析结果如下(前五):\n');
                // var content='';
                // $("#txt").append("<caption >"+field+"字段因素追溯的分析结果</caption><tr> <th>序号</th><th>影响因素中文名</th><th>影响因素英文名</th><th>影响因素回归系数</th><th>影响因素偏离值</th></tr>");
                for (var i=0;i<data.offset_number;i++){
                    // content=content+(i+1)+" : "+data.En_to_Ch_result[i]+"; "+data.xasis_fieldname[i]+"; "+data.regression_coefficient[i]+"; "+data.offset_result[i]+"\n";
                    // $("#txt").append(" <tr> <th>"+(i+1)+"</th><th>"+data.En_to_Ch_result[i]+"</th><th>"+data.xasis_fieldname[i]+"</th><th>"+data.regression_coefficient[i]+"</th><th>"+data.offset_result[i]+"</th></tr>")

                    if (i < 5){
                        $("#cause_txt").append('     No.'+(i+1)+' 相关字段为: '+data.En_to_Ch_result[i]+'('+data.xasis_fieldname[i]+")，其偏离程度为："+data.offset_result[i]+'，权重系数为：'+data.regression_coefficient[i]+"。\n");
                    }

                }
                $("#cause_area").show();//此时将隐藏的显示追溯结果的文本区域显示出来
                // alert(content);
                   
                
            }
        })
    };

    // 条形图（投入）(多Y轴)
    function drawBarChart_cost(result){
        var myChart = echarts.init(document.getElementById('main1'));
        var colors = ['#5793f3', '#d14a61', '#675bba','#00c957'];
            // 指定图表的配置项和数据
            var option = {
                color:colors,
                title: {
                    text: '炉次号'+result.heat_no+'的'+result.attribute+'组成',
                    x:'center'
                },
                tooltip: {
                    // trigger: 'axis',
                    // axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                    //     type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        trigger:'item',
                        formatter: function (params){
                            var res = result.xname[params.seriesIndex]+':</br>实际值：'+params.value+result.danwei[params.seriesIndex] + '<br/>偏离程度：'+result.offset_result[params.seriesIndex]+'</br>定性判断：'+result.qualitative_offset_result[params.seriesIndex];                         
                            return res;

                     }
                },
                toolbox: {
                    show : true,
                    feature: {
                        dataView: {show: true, readOnly: false},
                        restore: {show: true},
                        saveAsImage: {show: true}
                        }
                },
                legend: {
                    data:['']
                },
                xAxis: {
                    type: 'category',
                    axisTick: {
                    alignWithLabel: true
                    },
                    data: ['单炉次字段']
                },
                yAxis: [{
                    type: 'value',
                    name: '铁水重量(Kg)',
                    min: 0,
                    max: 105000,
                    position: 'left',
                    offset:0,
                    splitLine:{show: false},//去除网格线
                    axisLine: {
                        lineStyle: {
                            color: colors[0]
                        }
                    },
                    // axisLabel: {
                    //     formatter: '{value} Kg'
                    // }
                },
                {
                    type: 'value',
                    name: '耗氧量(NM3)',
                    min: 0,
                    max: 5000,
                    position: 'left',
                    offset: -130,
                    splitLine:{show: false},//去除网格线
                    axisLine: {
                        lineStyle: {
                            color: colors[1]
                        }
                    },
                    // axisLabel: {
                    //     formatter: '{value} NM3'
                    // }
                },
                {
                    type: 'value',
                    name: '废钢总和(Kg)',
                    min: 0,
                    max: 12000,
                    position: 'left',
                    splitLine:{show: false},//去除网格线
                    offset: -260,
                    axisLine: {
                        lineStyle: {
                            color: colors[2]
                        }
                    },
                    // axisLabel: {
                    //     formatter: '{value} Kg'
                    // }
                },
                {
                    type: 'value',
                    name: '生铁(Kg)',
                    min: 0,
                    max: 2000,
                    position: 'left',
                    offset: -390,
                    splitLine:{show: false},//去除网格线
                    axisLine: {
                        lineStyle: {
                            color: colors[3]
                        }
                    },
                    // axisLabel: {
                    //     formatter: '{value} Kg'
                    // }
                }
                ],
                series: [{
                    name: '铁水重量',
                    type: 'bar',
                    barWidth : 70,//柱条（K线蜡烛）宽度
                    barGap: '80%',//柱间距离，默认为柱形宽度的30%，可设固定值
                    barCategoryGap:'40%',//类目间柱形距离，默认为类目间距的20%，可设固定值
                    barMinHeight:10,//柱条最小高度，可用于防止某item的值过小而影响交互
                    data: [result.yvalue[0]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                },
                {
                    name:'耗氧量',
                    type:'bar',
                    barWidth : 70,
                    barGap: '80%',
                    barCategoryGap:'40%',
                    barMinHeight:10,
                    yAxisIndex: 1,
                    data:[result.yvalue[1]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                },
                {
                    name:'废钢总和',
                    type:'bar',
                    barWidth : 70,
                    barGap: '80%',
                    barCategoryGap:'40%',
                    barMinHeight:10,
                    yAxisIndex: 2,
                    data:[result.yvalue[2]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                },
                {
                    name:'生铁',
                    type:'bar',
                    barWidth : 70,
                    barGap: '80%',
                    barCategoryGap:'40%',
                    barMinHeight:10,
                    yAxisIndex: 2,
                    data:[result.yvalue[3]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                }
                ]
            };

            var ecConfig = echarts.config;
            myChart.on('click', function (params) {
            if (typeof params.seriesIndex != 'undefined') {
                //mes += '  seriesIndex : ' + param.seriesIndex;
                //mes += '  dataIndex : ' + param.dataIndex+result.xEnglishname[param.dataIndex];
                fieldname_chinese=result.xname[params.seriesIndex];
                fieldname_english=result.xEnglishname[params.seriesIndex];
                probability_normal(fieldname_chinese,fieldname_english,result.offset_result[params.seriesIndex],params.value);
                $("#hidden_inform1").val(fieldname_english);//字段英文名
                $("#hidden_inform2").val(fieldname_chinese);//字段中文名
                $("#hidden_inform3").val(params.value);//实际值
                $("#hidden_inform4").val(result.offset_result[params.seriesIndex]);//偏离程度
            }
            console.log(params);
            });

            myChart.setOption(option);
            // 使用刚指定的配置项和数据显示图表。
    };

    // 条形图（产出）（多Y轴）
    function drawBarChart_produce(result){
        var myChart = echarts.init(document.getElementById('main1'));
        var colors = ['#5793f3', '#d14a61', '#675bba','#00c957'];
            // 指定图表的配置项和数据
            var option = {
                color:colors,
                title: {
                    text: '炉次号'+result.heat_no+'的'+result.attribute+'组成',
                    x:'center'
                },
                tooltip: {
                    // trigger: 'axis',
                    // axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                    //     type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        trigger:'item',
                        formatter: function (params){
                            var res = result.xname[params.seriesIndex]+':</br>实际值：'+params.value+result.danwei[params.seriesIndex] + '<br/>偏离程度：'+result.offset_result[params.seriesIndex]+'</br>定性判断：'+result.qualitative_offset_result[params.seriesIndex];                          
                            return res;

                     }
                },
                toolbox: {
                    feature: {
                        dataView: {show: true, readOnly: false},
                        restore: {show: true},
                        saveAsImage: {show: true}
                        }
                },
                legend: {
                    data:['']
                },
                xAxis: {
                    type: 'category',
                    axisTick: {
                    alignWithLabel: true
                    },
                    data: ['单炉次字段']
                },
                yAxis: [{
                    type: 'value',
                    name: '钢水(Kg)',
                    min: 0,
                    max: 105000,
                    position: 'left',
                    offset:-20,
                    splitLine:{show: false},//去除网格线
                    axisLine: {
                        lineStyle: {
                            color: colors[0]
                        }
                    },
                    // axisLabel: {
                    //     formatter: '{value} Kg'
                    // }
                },
                {
                    type: 'value',
                    name: '转炉煤气(NM3)',
                    min: 0,
                    max: 12000,
                    position: 'left',
                    offset: -180,
                    splitLine:{show: false},//去除网格线
                    axisLine: {
                        lineStyle: {
                            color: colors[1]
                        }
                    },
                    // axisLabel: {
                    //     formatter: '{value} NM3'
                    // }
                },
                {
                    type: 'value',
                    name: '钢渣(Kg)',
                    min: 0,
                    max: 22000,
                    position: 'left',
                    splitLine:{show: false},//去除网格线
                    offset: -340,
                    axisLine: {
                        lineStyle: {
                            color: colors[2]
                        }
                    },
                    // axisLabel: {
                    //     formatter: '{value} Kg'
                    // }
                }
                ],
                series: [{
                    name: '钢水重量',
                    type: 'bar',
                    barWidth : 90,//柱条（K线蜡烛）宽度
                    barGap: '80%',//柱间距离，默认为柱形宽度的30%，可设固定值
                    barCategoryGap:'60%',//类目间柱形距离，默认为类目间距的20%，可设固定值
                    barMinHeight:10,//柱条最小高度，可用于防止某item的值过小而影响交互
                    data: [result.yvalue[0]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                },
                {
                    name:'转炉煤气',
                    type:'bar',
                    barWidth : 90,
                    barGap: '80%',
                    barCategoryGap:'60%',
                    barMinHeight:10,
                    yAxisIndex: 1,
                    data:[result.yvalue[1]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                },
                {
                    name:'钢渣',
                    type:'bar',
                    barWidth : 90,
                    barGap: '80%',
                    barCategoryGap:'60%',
                    barMinHeight:10,
                    yAxisIndex: 2,
                    data:[result.yvalue[2]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                }
                ]
            };

            var ecConfig = echarts.config;
            myChart.on('click', function (params) {
            if (typeof params.seriesIndex != 'undefined') {
                //mes += '  seriesIndex : ' + param.seriesIndex;
                //mes += '  dataIndex : ' + param.dataIndex+result.xEnglishname[param.dataIndex];
                fieldname_chinese=result.xname[params.seriesIndex];
                fieldname_english=result.xEnglishname[params.seriesIndex];
                probability_normal(fieldname_chinese,fieldname_english,result.offset_result[params.seriesIndex],params.value);
                $("#hidden_inform1").val(fieldname_english);//字段英文名
                $("#hidden_inform2").val(fieldname_chinese);//字段中文名
                $("#hidden_inform3").val(params.value);//实际值
                $("#hidden_inform4").val(result.offset_result[params.seriesIndex]);//偏离程度
            }
            console.log(params);
            });

            myChart.setOption(option);
            // 使用刚指定的配置项和数据显示图表。
    };


    //正态分布+概率分布
    function probability_normal(fieldname_chinese,fieldname_english,offset_value,actual_value){
        var heat_no = $("#prime_analyse").val();//炉次号
        //var field2 = $("#field2").val();//字段
        //var field2 = $("#bookno1").find("option:selected").val();
        var fieldname_english=fieldname_english;//字段英文名
        var fieldname_chinese=fieldname_chinese;//字段中文名
        var coloum_number = $("#change_column").val();//定义概率正方分布的柱状图个数
        console.log(heat_no,fieldname_english,fieldname_chinese);
            $.ajax({
            type: "post",
            url:  "/probability_normal",
            data: {'heat_no':heat_no,'fieldname_english':fieldname_english,'fieldname_chinese':fieldname_chinese,'offset_value':offset_value,'actual_value':actual_value,'coloum_number':coloum_number},
            error: function() {
                alert("404");
            },
            success: function(data) {
                // alert("enter probability_normal");
                //概率分布
                // alert(data.ana_result['scope']);
                // alert(data.ana_result['num']);
                //正态分布
                // alert(data.normal_result['normx']);
                // alert(data.normal_result['normy']);

                probability_normal_picture(data);
                $("#coloum_div").show();

            }
        })

    }; 

    //正态分布+概率分布画图
    function probability_normal_picture(result){
        var myChart = echarts.init(document.getElementById('main2'));
        //var bookname=document.getElementById('bookno1')
            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: result.base_result.fieldname_chinese+'('+result.base_result.fieldname+')的概率(bar)及正态(line)分布',
                    x:'center'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                        type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                     }
                },
                legend: {
                    data:['']
                },
                toolbox: {
                    show : true,
                    feature : {
                        dataView : {show: true, readOnly: false},
                        magicType : {show: true, type: ['line', 'bar']},
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                xAxis: [
                    {
                        data: result.ana_result.normx,
                        axisLabel :{  
                                //interval:0,//横轴信息全部显示
                                //rotate: 60//60度角倾斜显示  
                            } 
                    },
                    {
                        type : 'category',
                        axisLine: {show:true},
                        axisTick: {show:true},
                        axisLabel: {show:true},
                        splitArea: {show:true},
                        splitLine: {show:true},
                        data : result.ana_result.scope,
                        show:false,
                    }
                ],
                yAxis: [{
                    name:'正态分布密度(line)'
                },
                {
                    name:'概率分布密度(bar)'
                }
                ],
                series: [{
                    name: '正态分布',
                    type: 'line',
                    xAxisIndex:0,
                    yAxisIndex:0,
                    data: result.ana_result.normy,
                    // markPoint: {
                    //     itemStyle : {
                    //          normal: {
                    //              color:'#1e90ff'
                    //          }
                    //      },
                    //     data:[
                    //             // {type : 'max', name: '最大值'},
                    //             // {type : 'min', name: '最小值'},
                    //             {name : '位置点偏离程度'+result.normal_result.offset_value, value : result.normal_result.actual_value, xAxis: result.normal_result.match_value, yAxis: result.normal_result.normy[result.normal_result.match_index]},
                    //     ]
                    // },
                    markLine: {
                        name:'炉次号'+result.base_result.fieldname+'的标线',
                        itemStyle : {
                            normal: {
                                color:'#1e90ff'
                            }
                        },
                        data:[
                                [
                                {name: '位置点偏离程度'+result.base_result.offset_value, value:  result.base_result.actual_value, xAxis: result.base_result.match_value, yAxis: 0},
                                {name: '标线1终点', xAxis: result.base_result.match_value, yAxis: 'max'}
                                ],
                                [{
                                    // 固定起点的 x 位置，用于模拟一条指向最大值的水平线
                                    name: '位置点偏离程度'+result.base_result.offset_value,
                                    value: result.base_result.offset_value,
                                    yAxis: 'max',
                                    xAxis: result.base_result.match_value
                                 }, 
                                 {
                                    type: 'max'
                                }],
                               ] 
                        
                    },
                    // itemStyle: {
                    //         normal: {
                    //         color: 'tomato',
                    //         // label : {
                    //         //     show: false, position: 'top'
                    //         // }
                    //     }
                    // }

                },
                  {
                    name: '概率分布',
                    type: 'bar',
                    xAxisIndex:1,//xAxis坐标轴数组的索引，指定该系列数据所用的横坐标轴
                    yAxisIndex:1,
                    data: result.ana_result.num,
                    // itemStyle: {
                    //     normal: {
                    //     color: '#675bba',
                    //     }
                    // }
                }
                ]

            };

        var ecConfig = echarts.config;
        myChart.on('click', function (params) {
            // if (params.componentType == 'markPoint') {
                //mes += '  seriesIndex : ' + param.seriesIndex;
                //mes += '  dataIndex : ' + param.dataIndex+result.xEnglishname[param.dataIndex];
                offset_value=result.base_result.offset_value;//读取偏离值
                fieldname_english=result.base_result.fieldname;//读取字段英文名字
                retrospectfactor(fieldname_english,fieldname_chinese,offset_value);
            // }
            console.log(params);
            });

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

    }

    //自动加载钢种
    function loadGrape_chen(){ 
        $.ajax({
        type: "POST",
        dataType:"json",
        url: "/getGrape" ,
        data: {'greet':'hello'},
        success: function(data){
            //alert(data.result);
            //alert(data.result.length);
            pnames=data.result;
            $(".gangzhong_name").append("<option value='blank' selected =\"selected\"></option>");
            for(var pname in pnames){
                console.log(pnames[pname]) 
                $(".gangzhong_name").append("<option value='"+pnames[pname]+"'>"+pnames[pname]+"</option>");
            }
        },
        error: function () {
            alert("error");
            }
         });
        };
        
    //初始化
    $(function(){
            loadOption_chen();
            loadGrape_chen();
            $("#coloum_div").hide();
            $("#cause_area").hide();

        })
</script>
{% endblock %}