{% extends "data_import/base.html" %}
{% block title %}{% if title %}{{ title }}{% endif %}{% endblock %}
{% block pagejs %}
<script type="text/javascript" src="/static/data_import/libs/echarts/echarts.js"></script>
{% endblock pagejs %}
{% block content %}

<h2>波动率相关分析</h2>
<h7><a href='/chen'>返回转炉数据分析</a></h7>
<!-- <p><strong>1.请选择要进行波动率计算的各项参数</strong></p> -->
<!-- <form action="javascript:void(0)" method="post"> -->
    <div style="margin-top:5px">
        <label>钢种：</label><select name="SPECIFICATION" id="SPECIFICATION" class="gangzhong_name"></select>
       <label> 班次：</label><select name="OPERATESHIFT" id="OPERATESHIFT" class="OPERATESHIFT_name">
            <option value='blank' selected = "selected"></option>
            <option value=1>白班</option>
            <option value=2>中班</option>
            <option value=3>夜班</option>
        </select>
        <label>班别：</label><select name="OPERATECREW" id="OPERATECREW" class="OPERATECREW_name">
            <option value='blank' selected = "selected"></option>
            <option value='A'>甲班</option>
            <option value='B'>乙班</option>
            <option value='C'>丙班</option>
        </select>
        <label>工位：</label><select name="station" id="station" class="station_name">
            <option value='blank' selected = "selected"></option>
            <option value='BOF1'>BOF1</option>
            <option value='BOF2'>BOF2</option>
            <option value='BOF3'>BOF3</option>
        </select>
        <!-- 字段名：<select name="flu_field" id="flu_field" class="fluctution_time"></select> -->
        <!--<input id="datepicker-example5" type="text">-->
    </div>


<!--     <div style="margin-top:5px;" >
        <label  style="margin-top:5px"> 计算波动率的时间范围:  </label>
         &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;
        <label  style="margin-top:5px"> 对比历史波动率的时间范围:   </label>

        <div class="controls" >
            <div id="reportrange" class="pull-left dateRange" style="width:340px">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                <span id="searchDateRange"></span>
                <b class="caret"></b>
            </div>

            <div id="reportrange_end" class="pull-left dateRange" style="width:340px">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <span id="searchDateRange"></span>
                    <b class="caret"></b>
            </div>
        </div>

    </div> -->

<div class="page-content">
    <div style="margin-top:5px"><label class="control-label">计算波动率的时间范围: </label></div>
    <div class="container-fluid">
        <div class="row-fluid" style="margin-top:5px">
            <div class="span4">
                <div class="control-group">
                    <!-- <label class="control-label">计算波动率的时间范围: </label>   -->
                    <div class="controls">
                        <div id="reportrange" class="pull-left dateRange" style="width:400px">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span id="searchDateRange"></span>
                            <b class="caret"></b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top:5px"><label class="control-label">对比历史波动率的时间范围: </label></div>
    <!-- <div class="container-fluid">  -->
    <div class="container-fluid">
        <div class="row-fluid" style="margin-top:5px">
            <div class="span4">
                <div class="control-group">
                    <!-- <label class="control-label"> 对比历史波动率的时间范围:  </label>   -->
                    <div class="controls">
                        <div id="reportrange_end" class="pull-left dateRange" style="width:400px">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span id="searchDateRange"></span>
                            <b class="caret"></b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div id='fluc_button' style="margin-top:5px;" class="container-fluid">
            <!-- <button onclick="fluc_cost_produce('cost',this)" id='click1' style="width:100px"><label>成本投入</label></button> -->
            <button onclick="fluc_cost_produce()" id='click1' style="width:150px"><label>成本字段分析</label></button>
    </div>

    <!--time_select已经被隐藏style="display:none"-->
    <div id='time_select' style="display:none">
        <b>计算波动率的时间范围:</b>
        <div>
            起始时间：<input id="datepicker-example7-start" type="text">
            终止时间：<input id="datepicker-example7-end" type="text">
        </div>
        <b>对比历史波动率的时间范围:</b>
        <div>
            起始时间：<input id="datepicker-example7-start-history" type="text">
            终止时间：<input id="datepicker-example7-end-history" type="text">
        </div>
    </div>

<!-- </form> -->

    <br>
    <div id='drawPicture_area' >
        <div id="main1" style="float:left;width:1400px;height:450px"></div>
        <!-- <div id="main2" style="float:left;width:600px;height:450px">右</div> -->
        <!--<textarea id="txt" style="width: 800px;height:100px;">下</textarea></div>-->
        <div id="main2" style="float:left;width:1400px;height:450px"></div>
        <div id="main3" style="float:left;width:1400px;height:450px"></div>
        <div id="main4" style="float:left;width:1400px;height:450px"></div>
    </div>

    <div id='cause_area'>
    <p><strong>转炉工序多炉次整体成本追溯结果：</strong></p>
    <textarea id="cause_txt" style="width: 900px;height:150px;"></textarea>
    </div>

<link rel="stylesheet" type="text/css" media="all" href="/static/data_import/daterangepicker+bootstrap2.3.1/daterangepicker-bs3.css" />  
<link rel="stylesheet" type="text/css" media="all" href="/static/data_import/daterangepicker+bootstrap2.3.1/daterangepicker-1.3.7.css" />
<link href="/static/data_import/daterangepicker+bootstrap2.3.1/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
<script type="text/javascript" src="/static/data_import/daterangepicker+bootstrap2.3.1/moment.js"></script>
<script type="text/javascript" src="/static/data_import/daterangepicker+bootstrap2.3.1/daterangepicker-1.3.7.js"></script>

<script type="text/javascript" src="/static/data_import/js/loadChart_chen.js"></script>
<script type="text/javascript" src="/static/data_import/js/loadParam.js"></script>
<script type="text/javascript" src="/static/data_import/js/zebra_datepicker.js"></script>
<link rel="stylesheet" href="/static/data_import/css/default.css" type="text/css">
<script type="text/javascript">

	function fluc_cost_produce(){
        var SPECIFICATION = $("#SPECIFICATION").val();//钢种,不用转化为大写
        var OPERATESHIFT = $("#OPERATESHIFT").val();//班次
        var OPERATECREW = $("#OPERATECREW").val();//班别
        var station = $("#station").val();//工位
        var fieldname = $("#flu_field").find("option:selected").val();//字段名
		var time1 = $('#datepicker-example7-start').val();//计算波动率的时间范围起始时间
		var time2 = $('#datepicker-example7-end').val();//计算波动率的时间范围终止时间
        var history_time1 = $('#datepicker-example7-start-history').val();//对比历史波动率的时间范围起始时间
        var history_time2 = $('#datepicker-example7-end-history').val();//对比历史波动率的时间范围终止时间
        var myChart_main = echarts.init(document.getElementById('main1'));
        // var myChart_main2 = echarts.init(document.getElementById('main2'));

        $("#cause_txt").empty();//清除文本内容
		myChart_main.showLoading({
                    text: "图表数据正在努力加载..."
                });
//         myChart_main2.showLoading({
//                     text: "图表数据正在努力加载..."
//                 });

		console.log(time1,time2)
            $.ajax({
            type: "post",
            url:  "/fluc_cost_produce",
            data: {'SPECIFICATION':SPECIFICATION,'OPERATESHIFT':OPERATESHIFT,'OPERATECREW':OPERATECREW,'station':station,'time1':time1,'time2':time2,'fieldname':fieldname,'history_time1':history_time1,'history_time2':history_time2},
            error: function() {
                alert("发生错误!");
            },
            success: function(data) {
            	// alert(data.state);

                if(data.state=='failure_current'){
                    // alert('当前筛选条件下'+data.time.time1+'至'+data.time.time2+'的时间区间内无数据！');
                    //无法使用 $('#drawPicture_area').empty();这样是把整个区域都清空了，不再有main1、main2等
                    $('#main1').empty();
                    $('#main2').empty();
                    $('#main3').empty();
                    $('#main4').empty();
                    $('#main1').append('！！注：当前筛选条件下'+data.time.time1+'至'+data.time.time2+'的时间区间内无数据！');
                    // $("#cause_area").hide();
                }
                else if(data.state=='failure_history'){
                    // alert('当前筛选条件下'+data.time.history_time1+'至'+data.time.history_time2+'的历史时间区间内无数据！');
                    $('#main1').empty();
                    $('#main2').empty();
                    $('#main3').empty();
                    $('#main4').empty();
                    $('#main1').append('！！注：当前筛选条件下'+data.time.history_time1+'至'+data.time.history_time2+'的历史时间区间内无数据！');
                    // $("#cause_area").hide();
                }
                else{
                    drawBarChart_fluc(data,0,'main1');
                    drawBarChart_fluc(data,1,'main2');
                    drawBarChart_fluc(data,2,'main3');
                    drawBarChart_fluc(data,3,'main4');
                }
                // myChart_main1.hideLoading();
                // myChart_main2.hideLoading();
            }
        })
    };

    //初始化时间控件
    $(document).ready(function() {
            //计算波动率的时间范围
            $('#datepicker-example7-start').Zebra_DatePicker({
                direction: ['2016-01-01', false],
                pair: $('#datepicker-example7-end')
            });
            $('#datepicker-example7-end').Zebra_DatePicker({
                direction: 1
            });
            //对比历史波动率的时间范围
            $('#datepicker-example7-start-history').Zebra_DatePicker({
                direction: ['2016-01-01', false],
                pair: $('#datepicker-example7-end-history')
            });
            $('#datepicker-example7-end-history').Zebra_DatePicker({
                direction: 1
            });
            //设置默认时间
            $('#datepicker-example7-start').val(moment().subtract('month', 15).format('YYYY-MM-DD'));
            $('#datepicker-example7-end').val(moment().subtract('month', 11).format('YYYY-MM-DD'));
            $('#datepicker-example7-start-history').val(moment().subtract('month', 15).format('YYYY-MM-DD'));
            $('#datepicker-example7-end-history').val(moment().format('YYYY-MM-DD'));

            //时间插件:计算波动率的时间范围
            $('#reportrange span').html(moment().subtract('month', 15).format('YYYY-MM-DD') + ' - ' + moment().subtract('month', 11).format('YYYY-MM-DD'));
            $('#reportrange').daterangepicker(
                    {
                        // startDate: moment().startOf('day'),
                        //endDate: moment(),
                        minDate: '2016-01-01',    //最小时间
                        maxDate : moment(), //最大时间
                        dateLimit : {
                            days : 100
                        }, //起止时间的最大间隔
                        showDropdowns : true,
                        showWeekNumbers : false, //是否显示第几周
                        timePicker : false, //是否显示小时和分钟
                        timePickerIncrement : 60, //时间的增量，单位为分钟
                        timePicker12Hour : false, //是否使用12小时制来显示时间
                        ranges : {
                            // '最近1小时': [moment().subtract('hours',1), moment()],
                            // '今日': [moment().startOf('day'), moment()],
                            // '昨日': [moment().subtract('days', 1).startOf('day'), moment().subtract('days', 1).endOf('day')],
                            // '最近7日': [moment().subtract('days', 6), moment()],
                            // '最近30日': [moment().subtract('days', 29), moment()],
                            // '上个月': [moment().subtract('month', 2),moment().subtract('month', 1)]
                            '最近一月': [moment().subtract('month', 1),moment()],
                            '最近三月': [moment().subtract('month', 3),moment()],
                            '最近半年': [moment().subtract('month', 6),moment()],
                            '最近一年': [moment().subtract('years', 1),moment()],
                            '最近两年': [moment().subtract('years', 2),moment()],
                        },
                        opens : 'right', //日期选择框的弹出位置
                        buttonClasses : [ 'btn btn-default' ],
                        applyClass : 'btn-small btn-primary blue',
                        cancelClass : 'btn-small',
                        format : 'YYYY-MM-DD HH:mm:ss', //控件中from和to 显示的日期格式
                        separator : ' to ',
                        locale : {
                            applyLabel : '确定',
                            cancelLabel : '取消',
                            fromLabel : '起始时间',
                            toLabel : '结束时间',
                            customRangeLabel : '自定义',
                            daysOfWeek : [ '日', '一', '二', '三', '四', '五', '六' ],
                            monthNames : [ '一月', '二月', '三月', '四月', '五月', '六月',
                                    '七月', '八月', '九月', '十月', '十一月', '十二月' ],
                            firstDay : 1
                        }
                    }, function(start, end, label) {//格式化日期显示框
                        $('#reportrange span').html(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
                        $('#datepicker-example7-start').val(start.format('YYYY-MM-DD'));
                        $('#datepicker-example7-end').val(end.format('YYYY-MM-DD'));

                   });

            //时间插件:对比历史波动率的时间范围
            $('#reportrange_end span').html(moment().subtract('month', 15).format('YYYY-MM-DD') + ' - ' + moment().format('YYYY-MM-DD'));
            $('#reportrange_end').daterangepicker(
                    {
                        // startDate: moment().startOf('day'),
                        //endDate: moment(),
                        minDate: '2016-01-01',    //最小时间
                        maxDate : moment(), //最大时间
                        dateLimit : {
                            days : 100
                        }, //起止时间的最大间隔
                        showDropdowns : true,
                        showWeekNumbers : false, //是否显示第几周
                        timePicker : false, //是否显示小时和分钟
                        timePickerIncrement : 60, //时间的增量，单位为分钟
                        timePicker12Hour : false, //是否使用12小时制来显示时间
                        ranges : {
                            // '最近1小时': [moment().subtract('hours',1), moment()],
                            // '今日': [moment().startOf('day'), moment()],
                            // '昨日': [moment().subtract('days', 1).startOf('day'), moment().subtract('days', 1).endOf('day')],
                            // '最近7日': [moment().subtract('days', 6), moment()],
                            // '最近30日': [moment().subtract('days', 29), moment()],
                            // '上个月': [moment().subtract('month', 2),moment().subtract('month', 1)]
                            '最近一月': [moment().subtract('month', 1),moment()],
                            '最近三月': [moment().subtract('month', 3),moment()],
                            '最近半年': [moment().subtract('month', 6),moment()],
                            '最近一年': [moment().subtract('years', 1),moment()],
                            '最近两年': [moment().subtract('years', 2),moment()],
                        },
                        opens : 'right', //日期选择框的弹出位置
                        buttonClasses : [ 'btn btn-default' ],
                        applyClass : 'btn-small btn-primary blue',
                        cancelClass : 'btn-small',
                        format : 'YYYY-MM-DD HH:mm:ss', //控件中from和to 显示的日期格式
                        separator : ' to ',
                        locale : {
                            applyLabel : '确定',
                            cancelLabel : '取消',
                            fromLabel : '起始时间',
                            toLabel : '结束时间',
                            customRangeLabel : '自定义',
                            daysOfWeek : [ '日', '一', '二', '三', '四', '五', '六' ],
                            monthNames : [ '一月', '二月', '三月', '四月', '五月', '六月',
                                    '七月', '八月', '九月', '十月', '十一月', '十二月' ],
                            firstDay : 1
                        }
                    }, function(start, end, label) {//格式化日期显示框
                        $('#reportrange_end span').html(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
                        $('#datepicker-example7-start-history').val(start.format('YYYY-MM-DD'));
                        $('#datepicker-example7-end-history').val(end.format('YYYY-MM-DD'));
                   });


        });


    //自动加载钢种
    function loadGrape_chen(){
        $.ajax({
        type: "POST",
        dataType:"json",
        url: "/getGrape" ,
        data: {'greet':'hello'},
        success: function(data){
            //alert(data.result);
            //alert(data.result.length);
            pnames=data.result;
            $(".gangzhong_name").append("<option value='blank' selected =\"selected\"></option>");
            for(var pname in pnames){
                console.log(pnames[pname])
                $(".gangzhong_name").append("<option value='"+pnames[pname]+"'>"+pnames[pname]+"</option>");
            }
        },
        error: function () {
            alert("error");
            }
         });
        };


    function drawBarChart_fluc(result,classification_index,area){
        var myChart = echarts.init(document.getElementById(area));
        var colors = ['#5793f3', '#d14a61', '#675bba','#00c957','#eeeeee', '#3397c9','#f39646','#e02222'];
        var classification=result.field_classification[classification_index];//classification_index 字段分类的索引
            // 指定图表的配置项和数据
            var option = {
                color:colors,
                title: {
                    text: '转炉工序成本字段波动率计算:'+classification,
                    subtext: result.time.time1+'~'+result.time.time2+' || '+result.time.history_time1+'~'+result.time.history_time2+'时间范围内的波动率对比',
                    // subtext: '当前时间范围：'+result.time.time1+'~'+result.time.time2+'\n历史时间范围：'+result.time.history_time1+'~'+result.time.history_time2,
                    x:'center'
                },
                tooltip: {
                        trigger:'item',
                        formatter: function (params){//result.result.raw.fieldname_ch[params.dataIndex]
                            var res = result.result[classification].fieldname_ch[params.dataIndex]+'<br/>'+params.seriesName+'：'+params.value+ '<br/>偏离程度：'+result.result[classification].offset_result_cent[params.dataIndex]+'</br>定性判断：'+result.result[classification].qualitative_offset_result[params.dataIndex];
                            // var res = result.fieldname_ch[params.seriesIndex]+':</br>波动率实际值：'+params.value+'</br>波动率历史值：'+result.ana_describe_history[params.seriesIndex].numb[2]+ '<br/>偏离程度：'+result.offset_result[params.seriesIndex]+'</br>定性判断：'+result.qualitative_offset_result[params.seriesIndex];
                            return res;
                            }

                },
                toolbox: {
                    show : true,
                    feature: {
                        dataView: {show: true, readOnly: false},
                        restore: {show: true},
                        saveAsImage: {show: true}
                        }
                },
                legend: {
                    data:['波动率','对比历史波动率'],
                    show:false
                },
                xAxis: [{
                    type: 'category',
                    axisTick: {
                    alignWithLabel: true
                    },
                    data: result.result[classification].fieldname_ch,
                },
                ],
                yAxis: [{
                    name:'波动率',
                    type: 'value',
                    // min: 0,
                    // max: 105000,
                    position: 'left',
                    offset:0,
                    splitLine:{show: false},//去除网格线
                    axisLine: {
                        lineStyle: {
                            color: colors[0]
                        }
                    },
                    // axisLabel: {
                    //     formatter: '{value} Kg'
                    // }
                },

                ],
                series: [{
                    name:'波动率',
                    type: 'bar',
                    // barWidth : 50,//柱条（K线蜡烛）宽度
                    // barGap: '1%',//柱间距离，默认为柱形宽度的30%，可设固定值
                    barCategoryGap:'10%',//类目间柱形距离，默认为类目间距的20%，可设固定值
                    barMinHeight:10,//柱条最小高度，可用于防止某item的值过小而影响交互
                    yAxisIndex: 0,
                    data: result.result[classification].fluc_ratio,
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            },
                            color:function(params) {
                                return colors[params.dataIndex]
                            }
                        }
                    }
                },
                {
                    name:'对比历史波动率',
                    type: 'bar',
                    // barWidth : 50,//柱条（K线蜡烛）宽度
                    // barGap: '1%',//柱间距离，默认为柱形宽度的30%，可设固定值
                    barCategoryGap:'10%',//类目间柱形距离，默认为类目间距的20%，可设固定值
                    barMinHeight:10,//柱条最小高度，可用于防止某item的值过小而影响交互
                    yAxisIndex: 0,
                    data: result.result[classification].fluc_ratio_history,
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            },
                            color: function(params) {
                                return colors[params.dataIndex]
                        }
                    }
                }
                },

                ]
            };

            var ecConfig = echarts.config;
            myChart.on('click', function (params) {
            if (typeof params.seriesIndex != 'undefined') {
                // fieldname_chinese=result.fieldname_ch[params.seriesIndex];
                // fieldname_english=result.fieldname_en[params.seriesIndex];
                // probability_distribution(fieldname_chinese,fieldname_english,result.offset_result[params.seriesIndex],params.value);

                // fieldname_en=result.fieldname_en[params.dataIndex];//读取字段英文名字
                index=params.dataIndex;//index表示分类中的第几个字段
                retrospectfactor(result,classification,index);
            }
            console.log(params);
            });


            myChart.setOption(option);
            // 使用刚指定的配置项和数据显示图表。
    };


       //回归系数因素追溯及其偏离程度
    function retrospectfactor(result,classification,index){
        var field = result.result[classification].fieldname_en[index];//字段名
        // var offset_value = result.offset_result[index];//偏离程度
        // var fluc_ratio = result.fluc_ratio[index];//波动率

        if (result.result[classification].offset_result[index]<=0){
            $("#cause_txt").empty();//清除文本内容

            $("#cause_txt").append('  经分析，字段'+result.result[classification].fieldname_ch[index]+'('+field+')在'+result.time.time1+'至'+result.time.time2+'之间的波动率为'+result.result[classification].fluc_ratio[index]+'，与'+result.time.history_time1+'至'+result.time.history_time2+'时间段内波动率相比，偏离程度为'+result.result[classification].offset_result_cent[index]+'，即相当于波动率变小，时间范围内数值趋于稳定。\n');
            $("#cause_area").show();
            return

        }

        var cause_txt = echarts.init(document.getElementById('cause_txt'));
        cause_txt.showLoading({
                    text: "追溯结果正在努力计算中...\n可能需要耗费一定时间..."
                });
        $.ajax({
            type: "post",
            url:  "/fluc_influence",
            data: {'field':field,'offset_value':result.result[classification].offset_result[index],'sentence_select':result.sentence_select,'sentence_selecthistory':result.sentence_selecthistory},
            error: function() {
                alert("发生错误！！");
            },
            success: function(data) {
                //alert(data.result)
                // alert("success");
                // alert(data.offset_number);//字段个数
                // alert(data.xasis_fieldname);//字段英文名数组
                // alert(data.offset_result);//字段偏离程度
                // alert(data.En_to_Ch_result);//字段中文名
                // alert(data.regression_coefficient);

                $("#cause_txt").empty();//清除文本内容
                $("#cause_txt").append('经分析，字段'+result.result[classification].fieldname_ch[index]+'('+field+')在'+result.time.time1+'至'+result.time.time2+'之间的波动率为'+result.result[classification].fluc_ratio[index]+'，与'+result.time.history_time1+'至'+result.time.history_time2+'时间段内波动率相比，偏离程度为'+result.result[classification].offset_result_cent[index]+'\n');
                if (classification=='raw'){
                    $("#cause_txt").append('原料字段需要向前追溯，功能尚待开发!');
                }
                else{
                    $("#cause_txt").append('成本追溯所得字段影响因素分析如下(前五):\n');
                    for (var i=0;i<5;i++){
                        $("#cause_txt").append('     No.'+(i+1)+' 相关字段为: '+data.En_to_Ch_result[i]+'('+data.xasis_fieldname[i]+")，其偏离程度为："+data.offset_result_cent[i]+'，权重系数为：'+data.regression_coefficient[i]+"。\n");
                }
                }


                $("#cause_area").show();
            }
        })

    };



    //初始化
    $(function(){
            loadOption_chen();
            loadGrape_chen();
            $("#cause_area").hide();
        })
</script>





{% endblock %}
