{% extends "data_import/base.html" %}
{% block title %}{% if title %}{{ title }}{% endif %}{% endblock %}
{% block content %}
<script type="text/javascript" src="/static/data_import/js/zebra_datepicker.js"></script>
<link rel="stylesheet" href="/static/data_import/css/default.css" type="text/css">
<h5><a href='/product_quality'>单炉次质量回溯</a></h5>
<h5><a href='/product_quality'>多炉次质量回溯</a></h5>
<!-- <h5><a href='/one_product_quality'>质量回溯_新</a></h5> -->
<h1>青钢转炉数据分析</h1>
注：1,存在多条件筛选无数据的情况或数据极少清洗后数据为空的情况。<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
2,钢种为计划牌号,下拉框显示顺序按钢种数量由多到少。钢种中选项null，在数据库中SPECIFICATION='&nbsp',但依然存在676条数据。<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
3,字段下拉框顺序按表结构顺序。区间有效位数与相应数据库数据有效位数相同。不符合正太分布规律的字段没有进行五数概括法清洗例如副枪插入深度。<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
4,不能统计的字段例如时间点数据。
字段名:<select name="tableno" id="tableno" class="no_procedurename"></select><br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
5,不进行统计的字段例如清洗后数据量太少。点击字段名可查看清洗后字段数据描述。
字段名:<select name="littleno" id="littleno" class="little_procedurename"></select><br><br>
<textarea id="littletxt" style="width: 900px;height:20px;border:0px;"></textarea><br><br><br>
    钢种：<select name="SPECIFICATION" id="SPECIFICATION" class="gangzhong_name"></select><br><br>
    <!--时间日期：<input name="select_date1" id="select_date1" type="datetime-local" value="2015-08-07T11:36:19">
    至<input name="select_date2" id="select_date2" type="datetime-local" value="2017-02-21T13:59:59"><br><br>-->
    起始时间：<input id="datepicker-example7-start" type="text">
    终止时间：<input id="datepicker-example7-end" type="text">

    <br><br>
    班次：<select name="OPERATESHIFT" id="OPERATESHIFT" class="OPERATESHIFT_name">
        <option value='blank' selected = "selected"></option>
        <option value=1>白班</option>
        <option value=2>中班</option>
        <option value=3>夜班</option>
    </select><br><br>
    班别：<select name="OPERATECREW" id="OPERATECREW" class="OPERATECREW_name">
        <option value='blank' selected = "selected"></option>
        <option value='A'>甲班</option>
        <option value='B'>乙班</option>
        <option value='C'>丙班</option>
        <option value='D'>丁班</option>
    </select><br><br>
    工位：<select name="station" id="station" class="station_name">
        <option value='blank' selected = "selected"></option>
        <option value='BOF1'>BOF1</option>
        <option value='BOF2'>BOF2</option>
        <option value='BOF3'>BOF3</option>
    </select><br><br>
    字段名:<select name="bookno" id="bookno" class="procedurename"></select><br><br>
<!--<button onclick='num()'>分析结果绘图</button>-->
<button onclick='zong_analy()' id='zong_analy'>统计分析</button>
</div>
<!--<a href='/direct'>无需五数概括法情况</a>-->
<div id="main1" style="width: 660px;height:400px;"></div>
<div id="main2"style="width: 900px;height:40px;"><textarea id="txt" style="width: 900px;height:40px;border:0px;"></textarea></div>
<script type="text/javascript" src="/static/data_import/js/loadChart.js"></script>
<script type="text/javascript">  
    $('#bookno').change(function(){
        zong_analy();
    })
    $(document).ready(function() {
        //$('#datepicker-example5').Zebra_DatePicker({
            //direction: ['2012-08-01', '2012-08-12']
            //});
            $('#datepicker-example7-start').Zebra_DatePicker({
                direction: ['2015-01-01', '2017-01-01'],
                pair: $('#datepicker-example7-end')
            });
            $('#datepicker-example7-end').Zebra_DatePicker({
                direction: 1
            });
        });
    function num(){
        var bookno = $("#bookno").find("option:selected").val();
        console.log(bookno)
        $.ajax({
            type: "post",
            url:  "/num",
            data: {'bookno':bookno},
            error: function() {
                alert("404");
            },
            success: function(data) {
                //alert(data.result);
                drawBarChart(data.result)
                //ha_drawBarAndBrokenLineChart(data.result)
                var txt=$("#txt");
                var label=$("#label")
                txt.text(" ")
                for (var i = data.describe.numb.length - 1; i >= 0; i--) {
                    txt.append("  ")   
                    s=data.describe.scopeb[i];
                    n=data.describe.numb[i];
                    txt.append(s);
                    txt.append(":");
                    txt.append(n);
                    txt.append("   ")
                };
                
            }
        })
    }

    $(function(){
             loadOption_ha();
             p_loadGrape_ha();
             no_loadOption_ha();
             little_loadOption_ha();            
        })
    //多条件综合筛选
    function zong_analy(){
        var bookno = $("#bookno").val();//字段，需要转化为大写
        var SPECIFICATION = $("#SPECIFICATION").val();//钢种,不用转化为大写
        var OPERATESHIFT = $("#OPERATESHIFT").val();//班次
        var OPERATECREW = $("#OPERATECREW").val();//班别
        var station = $("#station").val();//工位
        var time1 = $('#datepicker-example7-start').val();
        var time2 = $('#datepicker-example7-end').val();
        //alert("gk_no:"+gk_no+"\nOPERATESHIFT:"+OPERATESHIFT+"\nOPERATECREW:"+OPERATECREW+"\nstation:"+station+"\nbookno:"+bookno);
        //alert("sql_start:"+time1+"sql_end"+time2);
        $.ajax({
            type: "post",
            url:  "/zong_analy_ha",
            data: {'bookno':bookno,'SPECIFICATION':SPECIFICATION,'OPERATESHIFT':OPERATESHIFT,'OPERATECREW':OPERATECREW,'station':station,'time1':time1,'time2':time2},
            error: function() {
                alert("该筛选条件下无数据！");
            },
            success: function(data) {
                //alert("multi_analy");
                //alert(data.state);
                drawBarChart(data.result)
                //ha_drawBarAndBrokenLineChart(data.result)
                var txt=$("#txt");
                var label=$("#label")
                txt.text(" ")
                for (var i = data.describe.numb.length - 1; i >= 0; i--) {
                    txt.append("  ")   
                    s=data.describe.scopeb[i];
                    n=data.describe.numb[i];
                    txt.append(s);
                    txt.append(":");
                    txt.append(n);
                    txt.append("   ")
                };
            }
         })
    }
    $("#littleno").change(function(){
        //Salert("选中值为："+$(this).val());
        var littleno = $("#littleno").val();
        $.ajax({
            type: "post",
            url:  "/describe_ha",
            data: {'littleno':littleno},
            error: function() {
                alert("数据库100%空值率！");
            },
            success: function(data) {
                //alert(data.result);
                var txt=$("#littletxt");
                txt.text(" ")
                for (var i = data.numb.length - 1; i >= 0; i--) {
                    txt.append("  ")   
                    s=data.scopeb[i];
                    n=data.numb[i];
                    txt.append(s);
                    txt.append(":");
                    txt.append(n);
                    txt.append("   ")
                };
                
            }
         })   
    });
</script>
{% endblock %}