{% extends "data_import/base.html" %}
{% block title %}{% if title %}{{ title }}{% endif %}{% endblock %}
{% block pagejs %}
<script type="text/javascript" src="/static/data_import/libs/echarts/echarts.js"></script>
{% endblock pagejs %}
{% block content %}

<h2>多炉次质量回溯--波动率分析</h2>
<form action="javascript:void(0)" method="post">
    <div><br>
         钢种：<select name="SPECIFICATION" id="SPECIFICATION" class="gangzhong_name"></select><br><br>
        班次：<select name="OPERATESHIFT" id="OPERATESHIFT" class="OPERATESHIFT_name"><br><br>
            <option value='blank' selected = "selected"></option>
            <option value=1>白班</option>
            <option value=2>中班</option>
            <option value=3>夜班</option>
        </select><br><br>
        班别：<select name="OPERATECREW" id="OPERATECREW" class="OPERATECREW_name"><br>
            <option value='blank' selected = "selected"></option>
            <option value='A'>甲班</option>
            <option value='B'>乙班</option>
            <option value='C'>丙班</option>
        </select><br><br>
        工位：<select name="station" id="station" class="station_name"><br>
            <option value='blank' selected = "selected"></option>
            <option value='BOF1'>BOF1</option>
            <option value='BOF2'>BOF2</option>
            <option value='BOF3'>BOF3</option>
        </select>
        <!-- 字段名：<select name="flu_field" id="flu_field" class="fluctution_time"></select> -->
        <!--<input id="datepicker-example5" type="text">-->
        </div>
        <br>
        <b>检验时间范围:</b>
        <div>
        起始时间：<input id="datepicker-example7-start" type="text">
        终止时间：<input id="datepicker-example7-end" type="text">
        </div>
        <b>对比时间范围:</b>
        <div>
        起始时间：<input id="datepicker-example7-start-history" type="text">
        终止时间：<input id="datepicker-example7-end-history" type="text"><br><br>
        <!-- <button onclick='fluc_cost()' id='click1'>成本投入</button> -->
        <button onclick='fluc_produce()' id='click2'>含量分析</button>
    </div>
</form>

    <div style="width:1400px">
        <div id="main1" style="float:left;width:1200px;height:450px"></div>
        <!-- <div id="main2" style="float:left;width:600px;height:450px">右</div> -->
        <!--<textarea id="txt" style="width: 800px;height:100px;">下</textarea></div>-->  
        <div id="main2" style="float:left;width:600px;height:450px">
            <!--table用来放置因素追溯的分析结果-->
            <table id='txt' style="width: 1200px;height:100px;border:0px;">
            <!-- <caption >因素追溯的分析结果</caption>
                <tr> 
                <th>序号</th>
                <th>影响因素中文名</th>
                <th>影响因素英文名</th>
                <th>影响因素回归系数</th>
                <th>影响因素偏离值</th>
                </tr> -->
            </table>
        </div> 
    </div>
  <!--   <p><strong>转炉工序多炉次质量追溯</strong></p> -->
    <textarea id="cause_txt" style="width: 1200px;height:100px;border:0px"></textarea>



<script type="text/javascript" src="/static/data_import/js/loadChart_chen.js"></script>
<script type="text/javascript" src="/static/data_import/js/loadParam.js"></script>
<script type="text/javascript" src="/static/data_import/js/zebra_datepicker.js"></script>
<link rel="stylesheet" href="/static/data_import/css/default.css" type="text/css">
<script type="text/javascript"> 

   
function fluc_produce(){
        var SPECIFICATION = $("#SPECIFICATION").val();//钢种,不用转化为大写
        var OPERATESHIFT = $("#OPERATESHIFT").val();//班次
        var OPERATECREW = $("#OPERATECREW").val();//班别
        var station = $("#station").val();//工位
        var fieldname = $("#flu_field").find("option:selected").val();//字段名
        var time1 = $('#datepicker-example7-start').val();//计算波动率的时间范围起始时间
        var time2 = $('#datepicker-example7-end').val();//计算波动率的时间范围终止时间
        var history_time1 = $('#datepicker-example7-start-history').val();//对比历史波动率的时间范围起始时间
        var history_time2 = $('#datepicker-example7-end-history').val();//对比历史波动率的时间范围终止时间
        var myChart_main1 = echarts.init(document.getElementById('main1'));
        // var myChart_main2 = echarts.init(document.getElementById('main2'));
        myChart_main1.showLoading({
                    text: "图表数据正在努力加载..."
                });
//         myChart_main2.showLoading({
//                     text: "图表数据正在努力加载..."
//                 });
        console.log(time1,time2)
            $.ajax({
            type: "post",
            url:  "/s_fluc_quality",
            data: {'SPECIFICATION':SPECIFICATION,'OPERATESHIFT':OPERATESHIFT,'OPERATECREW':OPERATECREW,'station':station,'time1':time1,'time2':time2,'fieldname':fieldname,'history_time1':history_time1,'history_time2':history_time2},
            error: function() {
                alert("404");
            },
            success: function(data) {
                // alert("success!");
                drawBarChart_cost_fluc(data);
                // drawBarChart_cost_fluc2(data);
                // myChart_main1.hideLoading();
                // myChart_main2.hideLoading();
            }
        })
    }; 


    //初始化时间控件
    $(document).ready(function() {
        //$('#datepicker-example5').Zebra_DatePicker({
            //direction: ['2012-08-01', '2012-08-12']
            //});
            //计算波动率的时间范围
            $('#datepicker-example7-start').Zebra_DatePicker({
                direction: ['2016-01-01', '2016-07-12'],
                pair: $('#datepicker-example7-end')
            });
            $('#datepicker-example7-end').Zebra_DatePicker({
                direction: 1
            });
            //对比历史波动率的时间范围
            $('#datepicker-example7-start-history').Zebra_DatePicker({
                direction: ['2016-01-01', '2016-07-12'],
                pair: $('#datepicker-example7-end-history')
            });
            $('#datepicker-example7-end-history').Zebra_DatePicker({
                direction: 1
            });
        });


    //自动加载钢种
    function loadGrape_chen(){ 
        $.ajax({
        type: "POST",
        dataType:"json",
        url: "/getGrape" ,
        data: {'greet':'hello'},
        success: function(data){
            //alert(data.result);
            //alert(data.result.length);
            pnames=data.result;
            $(".gangzhong_name").append("<option value='blank' selected =\"selected\"></option>");
            for(var pname in pnames){
                console.log(pnames[pname]) 
                $(".gangzhong_name").append("<option value='"+pnames[pname]+"'>"+pnames[pname]+"</option>");
            }
        },
        error: function () {
            alert("error");
            }
         });
        };

// 条形图（投入）(多Y轴)(弃用)
    function drawBarChart_cost_fluc2(result){
        var myChart = echarts.init(document.getElementById('main1'));
        
        var colors = ['#5793f3', '#d14a61', '#675bba','#00c957'];
        var barCategoryGap_value='5%';
            // 指定图表的配置项和数据
            var option = {
                color:colors,
                title: {
                    // text: '在'+result.time1+'至'+result.time2+'时间范围内的波动率计算',
                    x:'center'
                },
                tooltip: {
                    // trigger: 'axis',
                    // axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                    //     type : 'shadow',        // 默认为直线，可选为：'line' | 'shadow'
                        trigger:'item',
                        formatter: function (params){
                            var res = params.seriesNames;
                            // var res = result.fieldname_ch[params.seriesIndex]+':</br>波动率实际值：'+params.value+'</br>波动率历史值：'+result.ana_describe_history[params.seriesIndex].numb[2]+ '<br/>偏离程度：'+result.offset_result[params.seriesIndex]+'</br>定性判断：'+result.qualitative_offset_result[params.seriesIndex];                        
                            return res;
                        }
                     
                },
                toolbox: {
                    show : true,
                    feature: {
                        dataView: {show: true, readOnly: false},
                        restore: {show: true},
                        saveAsImage: {show: true}
                        }
                },
                legend: {
                    data:['']
                },
                xAxis: [{
                    type: 'category',
                    axisTick: {
                    alignWithLabel: true
                    },
                    data: ['转炉工序成本字段的总体分析']
                },
                ],
                yAxis: [{
                    type: 'value',
                    name: '铁水重量',
                    // min: 0,
                    // max: 105000,
                    position: 'left',
                    offset:0,
                    splitLine:{show: false},//去除网格线
                    axisLine: {
                        lineStyle: {
                            color: colors[0]
                        }
                    },
                    // axisLabel: {
                    //     formatter: '{value} Kg'
                    // }
                },
                {
                    type: 'value',
                    name: '耗氧量',
                    // min: 0,
                    // max: 5000,
                    position: 'left',
                    offset: -150,
                    splitLine:{show: false},//去除网格线
                    axisLine: {
                        lineStyle: {
                            color: colors[1]
                        }
                    },
                    // axisLabel: {
                    //     formatter: '{value} NM3'
                    // }
                },
                {
                    type: 'value',
                    name: '生铁',
                    // min: 0,
                    // max: 2000,
                    position: 'left',
                    splitLine:{show: false},//去除网格线
                    offset: -300,
                    axisLine: {
                        lineStyle: {
                            color: colors[2]
                        }
                    },
                    // axisLabel: {
                    //     formatter: '{value} Kg'
                    // }
                },
                {
                    type: 'value',
                    name: '废钢总和',
                    // min: 0,
                    // max: 12000,
                    position: 'left',
                    offset: -450,
                    splitLine:{show: false},//去除网格线
                    axisLine: {
                        lineStyle: {
                            color: colors[3]
                        }
                    },
                    // axisLabel: {
                    //     formatter: '{value} Kg'
                    // }
                }
                ],
                series: [{
                    name: '铁水重量',
                    type: 'bar',
                    // barWidth : 50,//柱条（K线蜡烛）宽度
                    // barGap: '1%',//柱间距离，默认为柱形宽度的30%，可设固定值
                    barCategoryGap:barCategoryGap_value,//类目间柱形距离，默认为类目间距的20%，可设固定值
                    barMinHeight:10,//柱条最小高度，可用于防止某item的值过小而影响交互
                    yAxisIndex: 0,
                    data: [result.fluc_ratio[0]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                },
                {
                    name: '铁水重量',
                    type: 'bar',
                    // barWidth : 50,//柱条（K线蜡烛）宽度
                    // barGap: '1%',//柱间距离，默认为柱形宽度的30%，可设固定值
                    barCategoryGap:barCategoryGap_value,//类目间柱形距离，默认为类目间距的20%，可设固定值
                    barMinHeight:10,//柱条最小高度，可用于防止某item的值过小而影响交互
                    yAxisIndex: 0,
                    data: [result.fluc_ratio_history[0]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                },
                {
                    name:'耗氧量',
                    type:'bar',
                    // barWidth : 50,
                    // barGap: '5%',
                    barCategoryGap:barCategoryGap_value,
                    barMinHeight:10,
                    yAxisIndex: 1,
                    data:[result.fluc_ratio[1]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                },
                {
                    name:'耗氧量',
                    type:'bar',
                    // barWidth : 50,
                    // barGap: '5%',
                    barCategoryGap:barCategoryGap_value,
                    barMinHeight:10,
                    yAxisIndex: 1,
                    data:[result.fluc_ratio_history[1]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                },
                {
                    name:'生铁',
                    type:'bar',
                    // barWidth : 50,
                    // barGap: '10%',
                    barCategoryGap:barCategoryGap_value,
                    barMinHeight:10,
                    yAxisIndex: 2,
                    data:[result.fluc_ratio[2]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                },
                 {
                    name:'生铁',
                    type:'bar',
                    // barWidth : 50,
                    // barGap: '10%',
                    barCategoryGap:barCategoryGap_value,
                    barMinHeight:10,
                    yAxisIndex: 2,
                    data:[result.fluc_ratio_history[2]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                },
                {
                    name:'废钢总和',
                    type:'bar',
                    // barWidth : 70,
                    // barGap: '80%',
                    barCategoryGap:barCategoryGap_value,
                    barMinHeight:10,
                    yAxisIndex: 2,
                    data:[result.fluc_ratio[3]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                },
                 {
                    name:'废钢总和',
                    type:'bar',
                    // barWidth : 70,
                    // barGap: '80%',
                    barCategoryGap:barCategoryGap_value,
                    barMinHeight:10,
                    yAxisIndex: 2,
                    data:[result.fluc_ratio_history[3]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                }
                ]
            };

            var ecConfig = echarts.config;
            myChart.on('click', function (params) {
            if (typeof params.dataIndex != 'undefined') {
                //mes += '  seriesIndex : ' + param.seriesIndex;
                //mes += '  dataIndex : ' + param.dataIndex+result.xEnglishname[param.dataIndex];
                // fieldname_chinese=result.fieldname_ch[params.seriesIndex];
                // fieldname_english=result.fieldname_en[params.seriesIndex];
                // probability_distribution(fieldname_chinese,fieldname_english,result.offset_result[params.seriesIndex],params.value);

                // offset_value=result.std_dev[params.dataIndex];//读取偏离值
                // fieldname_english=result.fieldname_en[params.dataIndex];//读取字段英文名字
                // retrospectfactor(fieldname_english,offset_value);
        

            }
            console.log(params);
            });

            myChart.setOption(option);
            // 使用刚指定的配置项和数据显示图表。

    };

function drawBarChart_cost_fluc(result){
        var myChart = echarts.init(document.getElementById('main1'));
        var colors = ['#5793f3', '#d14a61', '#675bba','#00c957','#e02222', '#3397c9','#f39646','#e02222'];
            // 指定图表的配置项和数据
            var option = {
                color:colors,
                title: {
                    // text: '在'+result.time.time1+'至'+result.time.time2+'时间范围内的波动率计算',
                    x:'center'
                },
                tooltip: {
                        trigger:'item',
                         
                        formatter: function (params){
                            var res = result.fieldname_ch[params.dataIndex]+'<br/>'+params.seriesName+'：'+params.value+ '<br/>偏离程度：'+result.offset_result_cent[params.dataIndex]+'</br>定性判断：'+result.qualitative_offset_result[params.dataIndex];        
                            // var res = result.fieldname_ch[params.seriesIndex]+':</br>波动率实际值：'+params.value+'</br>波动率历史值：'+result.ana_describe_history[params.seriesIndex].numb[2]+ '<br/>偏离程度：'+result.offset_result[params.seriesIndex]+'</br>定性判断：'+result.qualitative_offset_result[params.seriesIndex];                         
                            return res;

                            }
                     
                },
                toolbox: {
                    show : true,
                    feature: {
                        dataView: {show: true, readOnly: false},
                        restore: {show: true},
                        saveAsImage: {show: true}
                        }
                },
            
                legend: {
                    data:['波动率','对比历史波动率']
                },
                       
                xAxis: [{
                    type: 'category',
                    rotate: 45,//柱体名字偏移的角度数
                    margin: 10,
                    axisTick: {
                    alignWithLabel: true
                    },
                    data: result.fieldname_ch
                },
                ],
                yAxis: [{
                    name:'波动率',
                    type: 'value',
                    // min: 0,
                    // max: 105000,
                    position: 'left',
                    offset:0,
                    splitLine:{show: false},//去除网格线
                    axisLine: {
                        lineStyle: {
                            color: colors[0]
                        }
                    },
                    // axisLabel: {
                    //     formatter: '{value} Kg'
                    // }
                },
               
                ],
                series: [{
                    name:'波动率',
                    type: 'bar',
                    // barWidth : 50,//柱条（K线蜡烛）宽度
                    // barGap: '1%',//柱间距离，默认为柱形宽度的30%，可设固定值
                    barCategoryGap:'10%',//类目间柱形距离，默认为类目间距的20%，可设固定值
                    barMinHeight:10,//柱条最小高度，可用于防止某item的值过小而影响交互
                    yAxisIndex: 0,
                    data: result.fluc_ratio,
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            },
                            color:function(params) {
                                return colors[params.dataIndex]
                            }
                        }
                    }
                },
                {
                    name:'对比历史波动率',
                    type: 'bar',
                    // barWidth : 50,//柱条（K线蜡烛）宽度
                    // barGap: '1%',//柱间距离，默认为柱形宽度的30%，可设固定值
                    barCategoryGap:'10%',//类目间柱形距离，默认为类目间距的20%，可设固定值
                    barMinHeight:10,//柱条最小高度，可用于防止某item的值过小而影响交互
                    yAxisIndex: 0,
                    data: result.fluc_ratio_history,
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            },
                            color: function(params) {
                                return colors[params.dataIndex]
                        }
                    }
                }
                },
                
                ]
            };

            var ecConfig = echarts.config;
            myChart.on('click', function (params) {
            if (typeof params.seriesIndex != 'undefined') {
                //mes += '  seriesIndex : ' + param.seriesIndex;
                //mes += '  dataIndex : ' + param.dataIndex+result.xEnglishname[param.dataIndex];
                // fieldname_chinese=result.fieldname_ch[params.seriesIndex];
                // fieldname_english=result.fieldname_en[params.seriesIndex];
                // probability_distribution(fieldname_chinese,fieldname_english,result.offset_result[params.seriesIndex],params.value);

                // fieldname_en=result.fieldname_en[params.dataIndex];//读取字段英文名字
                index=params.dataIndex;
                retrospectfactor(result,index);
            }
            console.log(params);
            });

            //动态循环
            // var barGaps = ['30%', '-100%'];
            // var loopIndex = 0;

            // setInterval(function () {
            //     var barGap = barGaps[loopIndex];

            //     myChart.setOption({
            //         xAxis: {
            //             axisLabel: {
            //                 formatter: 'barGap: \'' + barGap + '\''
            //             }
            //         },
            //         series: [{
            //             barGap: barGap
            //         }]
            //     });
            //     loopIndex = (loopIndex + 1) % barGaps.length;

            // }, 2000);



            myChart.setOption(option);
            // 使用刚指定的配置项和数据显示图表。
    };


       //回归系数因素追溯及其偏离程度
    function retrospectfactor(result,index){
        var field = result.fieldname_en[index];//字段名
        // var offset_value = result.offset_result[index];//偏离程度
        // var fluc_ratio = result.fluc_ratio[index];//波动率
        var txt = echarts.init(document.getElementById('txt'));
        txt.showLoading({
                    text: "追溯结果正在努力计算中..."
                });
        $.ajax({
            type: "post",
            url:  "/fluc_influence",
            data: {'field':field,'offset_value':result.offset_result[index],'sentence_select':result.sentence_select,'sentence_selecthistory':result.sentence_selecthistory},
            error: function() {
                alert("目前可能会是错误！！");
            },
            success: function(data) {
                //alert(data.result)
                // alert("success");
                // alert(data.offset_number);//字段个数
                // alert(data.xasis_fieldname);//字段英文名数组
                // alert(data.offset_result);//字段偏离程度
                // alert(data.En_to_Ch_result);//字段中文名
                // alert(data.regression_coefficient);
                $("#txt").empty();//清除表格内容
                $("#cause_txt").empty();//清除文本内容

                $("#cause_txt").append('经分析，字段'+field+'在'+result.time.time1+'至'+result.time.time2+'之间的波动率为'+result.fluc_ratio[index]+'，与'+result.time.history_time1+'至'+result.time.history_time2+'时间段内波动率相比，偏离程度为'+result.offset_result[index]+'\n成本追溯所得字段影响因素分析如下:\n');
                
                $("#txt").append("<caption >"+field+"字段因素追溯的分析结果</caption><tr> <th>序号</th><th>影响因素中文名</th><th>影响因素英文名</th><th>影响因素回归系数</th><th>影响因素偏离值</th></tr>");

                for (var i=0;i<data.offset_number;i++){
                    $("#txt").append(" <tr> <th>"+(i+1)+"</th><th>"+data.En_to_Ch_result[i]+"</th><th>"+data.xasis_fieldname[i]+"</th><th>"+data.regression_coefficient[i]+"</th><th>"+data.offset_result[i]+"</th></tr>");

                    if (i < 5){
                        $("#cause_txt").append((i+1)+' 相关字段为: '+data.En_to_Ch_result[i]+'('+data.xasis_fieldname[i]+")，其偏离程度为："+data.offset_result[i]+'，权重系数为：'+data.regression_coefficient[i]+"。\n");
                    }
                }
                
            }
        })
    };

 


    //初始化
    $(function(){
            loadOption_chen();
            loadGrape_chen();
        })
</script>




{% endblock %}