{% extends "data_import/base.html" %}
{% block title %}{% if title %}{{ title }}{% endif %}{% endblock %}

{% block content %}
<h3>销售部分：市场份额分析</h3> 
<!-- <a href='/space'>>>>跳转到：空间分析</a>&nbsp;&nbsp;
<a href='/time'>>>>跳转到：时间分析</a>&nbsp;&nbsp;
<a href='/trade'>>>>跳转到：钢种分析</a>&nbsp;&nbsp;
<a href='/cust_time'>>>>跳转到：客户分析（时间）</a>&nbsp;&nbsp;
<a href='/cust_trade'>>>>跳转到：客户分析（钢种）</a>&nbsp;&nbsp;
<a href='/stockControl'>>>>跳转到：库存管理</a> -->
<br>
<br>
{% csrf_token %}
<!--<h3> 输入 </h3>-->
<!-- <div>
    分析模块:
    <select name="select_module" id="select_module" class="xla_1" style="display:none;">
        <option value="1">空间分析</option>
        <option value="2">时间分析</option>
        <option value="3">钢种分析</option>
        <option value="4">客户分析</option>
        <option value="5">市场份额分析</option>
    </select>
</div> -->


<div>
    起始年月: 
    <select name="select_startYear" id="select_startYear" class="xla_1" >
        <option value="2016">2016</option>
        <option value="2017">2017</option>
    </select>
    <select name="select_startMonth" id="select_startMonth" class="xla_2" >
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
    </select>
    <br>
    <br>
    终止年月:
    <select name="select_endYear" id="select_endYear" class="xla_3" >
        <option value="2016">2016</option>
        <option value="2017">2017</option>
    </select>

    <select name="select_endMonth" id="select_endMonth" class="xla_4" >
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        </select>

</div>
<br>

<button id="btnDrawChart">分析结果绘图</button>

<br>
<br>
<div id="main4" style="width: 800px;height:400px;"></div>
<div id="main5" style="width: 60px;height:400px;">
<textarea id="txt" style="width: 800px;height:300px;"></textarea>
</div>
<br>
<script type="text/javascript" src="/static/data_import/js/loadDateSelect.js"></script>
<script type="text/javascript">


  
    $('#btnDrawChart').click(function(){

        var startYear = document.getElementById("select_startYear").value
        var startMonth = document.getElementById("select_startMonth").value
        var endYear = document.getElementById("select_endYear").value
        var endMonth = document.getElementById("select_endMonth").value


//         //图表正在加载中
//         var myChart = echarts.init(document.getElementById('main4'));
//         myChart.showLoading({
//                     text: "图表数据正在努力加载...\n请不要点击其他按钮~"
//                 });

         $.ajax({
            type: "post",
            url:  "/market_share",
            data: {'startYear':startYear,'startMonth':startMonth,'endYear':endYear,'endMonth':endMonth,'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()}
            }
        ).done(function(data) {
            console.log(JSON.stringify(data.result));
            console.log(JSON.stringify(data.all_dictionary));
            drawMapChartChina_ratio(data.all_dictionary,data.result,startYear,startMonth,endYear,endMonth);

            $("#txt").empty();
            $("#txt").append(data.describe); 
             }).fail(function(){
                console.log("wrong");
             });
      
    });

 
</script>
<script type="text/javascript" src="/static/data_import/js/loadChart.js"></script>
<!-- <script type="text/javascript">
    require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
</script> -->
{% endblock %}