{% extends "data_import/base.html" %}
{% block title %}{% if title %}{{ title }}{% endif %}{% endblock %}
{% block pagejs %}
<script type="text/javascript" src="/static/data_import/libs/echarts/echarts.js"></script>
{% endblock pagejs %}
{% block content %}
<h5><a href='/ha'>转炉数据统计分析</a></h5>
<h5><a href='/w_fluc_quality'>转炉多炉次质量回溯</a></h5>
<h2>转炉单炉次质量分析回溯</h2>
<div>
    <!-- 隐藏域 -->
    <input type="hidden" name="hidden_inform1" id='hidden_inform1'> 
    <input type="hidden" name="hidden_inform2" id='hidden_inform2'> 
    <input type="hidden" name="hidden_inform3" id='hidden_inform3'> 
    <input type="hidden" name="hidden_inform4" id='hidden_inform4'> 

    <p>请输入要选择的炉次号，例如：1634230</p>
    炉次号：<input type="text" name="prime_analyse" value="{{current_tableno}}" id="prime_analyse">
    <button onclick='cost()' id='click2'>钢水含量</button>
</div>

<div style="width:1600px">
<div id="main1"  style="float:left;width:1400px;height:500px"></div>
<div id="main2"  style="float:left;width:800px;height:500px"></div>
<!--<textarea id="txt" style="width: 800px;height:100px;">下</textarea></div>-->
<div id='coloum_div' style="float:left;width:300px;height:50px">
    <!-- 改变柱状个数 -->
    <lebel>选择直方图柱状数目：</lebel>
    <select name='change_column' id='change_column' onChange="change_column()">
        <option value='7'>7</option> 
        <option value='14'>14</option> 
        <option value='21'>21 </option> 
        <option value='50' selected="selected">50 </option> 
  </select> 
</div>  
</div>

<p></p>
<div>
    <!--table用来放置因素追溯的分析结果-->
    <table id='txt' style="width: 900px;height:350px;border:45px;">
<!--         <caption >因素追溯的分析结果</caption>
        <tr> 
        <th>序号</th>
        <th>影响因素中文名</th>
        <th>影响因素英文名</th>
        <th>影响因素回归系数</th>
        <th>影响因素偏离值</th>
        </tr> -->
    </table>
</div>
<!-- <button onclick='updatevalue()' id='updatevalue'>定期更新数据库转炉字段统计值</button> -->

<script type="text/javascript" src="/static/data_import/js/loadChart_chen.js"></script>
<script type="text/javascript" src="/static/data_import/js/loadParam.js"></script>
<script type="text/javascript"> 
     //改变概率直方分布的柱状个数
    function change_column(){
        var fieldname_english = $("#hidden_inform1").val();
        var fieldname_chinese = $("#hidden_inform2").val();
        var actual_value = $("#hidden_inform3").val();
        var offset_value = $("#hidden_inform4").val();
        probability_distribution(fieldname_chinese,fieldname_english,offset_value,actual_value);

    }
    //质量含量
    function cost(){
        var prime_analyse = $("#prime_analyse").val();
        console.log(prime_analyse)
        $.ajax({
            type: "post",
            url:  "/m_quality",
            data: {'prime_cost':prime_analyse},
            error: function() {
                alert("错误！！");
            },
            success: function(data) {
                //alert(data.result.yvalue)
                // alert(data.result.offset_result[0]);
                $("#offset").val(data.result.offset_result[0]);
                drawBarChart_cost(data.result);
            }
        })
    };   

    
    // 条形图（含量）
    function drawBarChart_cost(result){
        var myChart = echarts.init(document.getElementById('main1'));
        var colors = ['#5793f3', '#d14a61', '#675bba','#00c957','#e02222', '#3397c9','#f39646','#e02222'];
            // 指定图表的配置项和数据
            var option = {
                color:colors,
                title: {
                    text: '炉次号'+result.heat_no+'的'+result.attribute+'组成',
                    x:'center'
                },
                tooltip: {
                    // trigger: 'axis',
                    // axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                    //     type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        trigger:'item',
                        formatter: function (params){
                            var res = result.xname[params.seriesIndex]+':</br>实际值：'+params.value+ '<br/>偏离程度：'+result.offset_result[params.seriesIndex]+'</br>定性判断：'+result.qualitative_offset_result[params.seriesIndex];                         
                            return res;

                     }
                },
                toolbox: {
                    feature: {
                        dataView: {show: true, readOnly: false},
                        restore: {show: true},
                        saveAsImage: {show: true}
                        }
                },
                legend: {
                    data:['']
                },
                xAxis: {
                    type: 'category',
                    axisTick: {
                    alignWithLabel: true
                    },
                    data: ['单炉次字段']
                },
                yAxis: [{
                    type: 'value',
                    name: 'C',
                    min: 0,
                    max: 0.9905,
                    position: 'left',
                    offset:-40,
                    splitLine:{show: false},//去除网格线
                    axisLine: {
                        lineStyle: {
                            color: colors[0]
                        }
                    },
                    // axisLabel: {
                    //     formatter: '{value} Kg'
                    // }
                },
                {
                    type: 'value',
                    name: 'SI',
                    min: 0,
                    max: 0.4200,
                    position: 'left',
                    offset: -200,
                    splitLine:{show: false},//去除网格线
                    axisLine: {
                        lineStyle: {
                            color: colors[1]
                        }
                    },
                    // axisLabel: {
                    //     formatter: '{value} NM3'
                    // }
                },
                {
                    type: 'value',
                    name: 'MN',
                    min: 0,
                    max: 0.8970,
                    position: 'left',
                    splitLine:{show: false},//去除网格线
                    offset: -360,
                    axisLine: {
                        lineStyle: {
                            color: colors[2]
                        }
                    },
                    // axisLabel: {
                    //     formatter: '{value} Kg'
                    // }
                },
                {
                    type: 'value',
                    name: 'P',
                    min: 0,
                    max: 0.0180,
                    position: 'left',
                    offset: -520,
                    splitLine:{show: false},//去除网格线
                    axisLine: {
                        lineStyle: {
                            color: colors[3]
                        }
                    },
                },
                {
                    type: 'value',
                    name: 'S',
                    min: 0,
                    max: 0.0180,
                    position: 'left',
                    offset: -680,
                    splitLine:{show: false},//去除网格线
                    axisLine: {
                        lineStyle: {
                            color: colors[4]
                        }
                    },
                },
                {
                    type: 'value',
                    name: '重量',
                    min: 0,
                    max: 113000,
                    position: 'left',
                    offset: -840,
                    splitLine:{show: false},//去除网格线
                    axisLine: {
                        lineStyle: {
                            color: colors[5]
                        }
                    },
                },
                {
                    type: 'value',
                    name: '温度',
                    min: 1000,
                    max: 2000,
                    position: 'left',
                    offset: -1000,
                    splitLine:{show: false},//去除网格线
                    axisLine: {
                        lineStyle: {
                            color: colors[6]
                        }
                    },
                },
                ],
                series: [{
                    name: 'C',
                    type: 'bar',
                    barWidth : 80,//柱条（K线蜡烛）宽度
                    barGap: '100%',//柱间距离，默认为柱形宽度的30%，可设固定值
                    barCategoryGap:'60%',//类目间柱形距离，默认为类目间距的20%，可设固定值
                    barMinHeight:10,//柱条最小高度，可用于防止某item的值过小而影响交互
                    data: [result.yvalue[0]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                },
                {
                    name:'SI',
                    type:'bar',
                    barWidth : 80,
                    barGap: '100%',
                    barCategoryGap:'60%',
                    barMinHeight:10,
                    yAxisIndex: 1,
                    data:[result.yvalue[1]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                },
                {
                    name:'MN',
                    type:'bar',
                    barWidth : 80,
                    barGap: '100%',
                    barCategoryGap:'60%',
                    barMinHeight:10,
                    yAxisIndex: 2,
                    data:[result.yvalue[2]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                },
                {
                    name:'P',
                    type:'bar',
                    barWidth : 80,
                    barGap: '100%',
                    barCategoryGap:'60%',
                    barMinHeight:10,
                    yAxisIndex: 3,
                    data:[result.yvalue[3]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                },
                {
                    name:'S',
                    type:'bar',
                    barWidth : 80,
                    barGap: '100%',
                    barCategoryGap:'60%',
                    barMinHeight:10,
                    yAxisIndex: 4,
                    data:[result.yvalue[4]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                },
                {
                    name:'重量',
                    type:'bar',
                    barWidth : 80,
                    barGap: '100%',
                    barCategoryGap:'60%',
                    barMinHeight:10,
                    yAxisIndex: 5,
                    data:[result.yvalue[5]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                },
                {
                    name:'温度',
                    type:'bar',
                    barWidth : 80,
                    barGap: '100%',
                    barCategoryGap:'60%',
                    barMinHeight:10,
                    yAxisIndex: 6,
                    data:[result.yvalue[6]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                },
                ]
            };

            var ecConfig = echarts.config;
            myChart.on('click', function (params) {
            if (typeof params.seriesIndex != 'undefined') {
                //mes += '  seriesIndex : ' + param.seriesIndex;
                //mes += '  dataIndex : ' + param.dataIndex+result.xEnglishname[param.dataIndex];
                fieldname_chinese=result.xname[params.seriesIndex];
                fieldname_english=result.xEnglishname[params.seriesIndex];
                probability_distribution(fieldname_chinese,fieldname_english,result.offset_result[params.seriesIndex],params.value);
                $("#hidden_inform1").val(fieldname_english);//字段英文名
                $("#hidden_inform2").val(fieldname_chinese);//字段中文名
                $("#hidden_inform3").val(params.value);//实际值
                $("#hidden_inform4").val(result.offset_result[params.seriesIndex]);//偏离程度
            }
            console.log(params);
            });

            myChart.setOption(option);
            // 使用刚指定的配置项和数据显示图表。
    };
    
    //正态分布+概率分布
    function probability_distribution(fieldname_chinese,fieldname_english,offset_value,actual_value){
        var field1 = $("#prime_analyse").val();//炉次号
        //var field2 = $("#field2").val();//字段
        //var field2 = $("#bookno1").find("option:selected").val();
        var fieldname_english=fieldname_english;//字段英文名
        var fieldname_chinese=fieldname_chinese;//字段中文名
        var coloum_number = $("#change_column").val();//柱状图个数
        console.log(field1,fieldname_english,fieldname_chinese,coloum_number);
            $.ajax({
            type: "post",
            url:  "/probability_distribution",
            data: {'heat_no':field1,'fieldname_english':fieldname_english,'fieldname_chinese':fieldname_chinese,'offset_value':offset_value,'actual_value':actual_value,'coloum_number':coloum_number},
            error: function() {
                alert("404");
            },
            success: function(data) {
                probability_distribution_picture(data);
                $("#coloum_div").show();

            }
        })

    }; 

    //正态分布+概率分布画图
    function probability_distribution_picture(result){
        var myChart = echarts.init(document.getElementById('main2'));
        //var bookname=document.getElementById('bookno1')
            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: result.normal_result.fieldname_chinese+'('+result.normal_result.fieldname+')的概率(bar)及正态(line)分布',
                    x:'center'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                        type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                     }
                },
                legend: {
                    data:['']
                },
                xAxis: [
                    {
                        data: result.normal_result.normx,
                        axisLabel :{  
                                //interval:0,//横轴信息全部显示
                                //rotate: 60//60度角倾斜显示  
                            } 
                    },
                    {
                        type : 'category',
                        axisLine: {show:true},
                        axisTick: {show:true},
                        axisLabel: {show:true},
                        splitArea: {show:true},
                        splitLine: {show:true},
                        data : result.ana_result.scope
                    }
                ],
                yAxis: [{
                    name:'正态分布密度(line)'
                },
                {
                    name:'概率分布密度(bar)'
                }
                ],
                series: [{
                    name: '正态分布',
                    type: 'line',
                    xAxisIndex:0,
                    yAxisIndex:0,
                    data: result.normal_result.normy,
                    // markPoint: {
                    //     itemStyle : {
                    //          normal: {
                    //              color:'#1e90ff'
                    //          }
                    //      },
                    //     data:[
                    //             // {type : 'max', name: '最大值'},
                    //             // {type : 'min', name: '最小值'},
                    //             {name : '位置点偏离程度'+result.normal_result.offset_value, value : result.normal_result.actual_value, xAxis: result.normal_result.match_value, yAxis: result.normal_result.normy[result.normal_result.match_index]},
                    //     ]
                    // },
                    markLine: {
                        name:'炉次号'+result.normal_result.fieldname+'的标线',
                        itemStyle : {
                            normal: {
                                color:'#1e90ff'
                            }
                        },
                        data:[
                                [
                                {name: '位置点偏离程度'+result.normal_result.offset_value, value:  result.normal_result.actual_value, xAxis: result.normal_result.match_value, yAxis: 0},
                                {name: '标线1终点', xAxis: result.normal_result.match_value, yAxis: 'max'}
                                ],
                                [{
                                    // 固定起点的 x 位置，用于模拟一条指向最大值的水平线
                                    name: '位置点偏离程度'+result.normal_result.offset_value,
                                    value: result.normal_result.offset_value,
                                    yAxis: 'max',
                                    xAxis: result.normal_result.match_value
                                 }, 
                                 {
                                    type: 'max'
                                }],
                               ] 
                        
                    },
                    // itemStyle: {
                    //         normal: {
                    //         color: 'tomato',
                    //         // label : {
                    //         //     show: false, position: 'top'
                    //         // }
                    //     }
                    // }

                },
                  {
                    name: '概率分布',
                    type: 'bar',
                    xAxisIndex:1,//xAxis坐标轴数组的索引，指定该系列数据所用的横坐标轴
                    yAxisIndex:1,
                    data: result.ana_result.num,
                    // itemStyle: {
                    //     normal: {
                    //     color: '#675bba',
                    //     }
                    // }
                }
                ]

            };

        var ecConfig = echarts.config;
        myChart.on('click', function (params) {
            // if (params.componentType == 'markPoint') {
                //mes += '  seriesIndex : ' + param.seriesIndex;
                //mes += '  dataIndex : ' + param.dataIndex+result.xEnglishname[param.dataIndex];
                offset_value=result.normal_result.offset_value;//读取偏离值
                fieldname_english=result.normal_result.fieldname;//读取字段英文名字
                retrospectfactor(fieldname_english,offset_value);
            // }
            console.log(params);
            });

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

    };
    //回归系数因素追溯及其偏离程度
    function retrospectfactor(field,offset_value){
        var prime_analyse = $("#prime_analyse").val();
        $.ajax({
            type: "post",
            url:  "/q_max_influence",
            data: {'field':field,'offset_value':offset_value,
            'prime_analyse':prime_analyse},
            error: function() {
                alert("错误！！");
            },
            success: function(data) {
                //alert(data.result)
                // alert("success");
                // alert(data.offset_number);//字段个数
                // alert(data.xasis_fieldname);//字段英文名数组
                // alert(data.offset_result);//字段偏离程度
                // alert(data.En_to_Ch_result);//字段中文名
                // alert(data.regression_coefficient);
                $("#txt").empty();//清除表格内容
                var content='';
                $("#txt").append("<caption >"+field+"字段因素追溯的分析结果</caption><tr> <th>序号</th><th>影响因素中文名</th><th>影响因素英文名</th><th>影响因素回归系数</th><th>影响因素偏离值</th></tr>");
                for (var i=0;i<data.offset_number;i++){
                    content=content+(i+1)+" : "+data.En_to_Ch_result[i]+"; "+data.xasis_fieldname[i]+"; "+data.regression_coefficient[i]+"; "+data.offset_result[i]+"\n";
                    $("#txt").append(" <tr> <th>"+(i+1)+"</th><th>"+data.En_to_Ch_result[i]+"</th><th>"+data.xasis_fieldname[i]+"</th><th>"+data.regression_coefficient[i]+"</th><th>"+data.offset_result[i]+"</th></tr>")

                }
                alert(content);
                   
                
            }
        })
    };
    // 正态分布画图
    function drawBarChart_norm(result){
        var myChart = echarts.init(document.getElementById('main2'));
        //var bookname=document.getElementById('bookno1')
            // 指定图表的配置项和数据
            var option = {
                title: {
                    //text: bookno = bookname.options[bookname.selectedIndex].text+result.fieldname+'的正态分布'+result.singleheat+','+result.singleheat_value+','+result.normy[result.singleheat_index],
                    text: bookno = result.fieldname_chinese+result.fieldname+'的正态分布',//+result.singleheat+','+result.singleheat_value+','+result.normy[result.singleheat_index],
                    x:'center'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                        type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                     }
                },
                legend: {
                    data:['']
                },
                xAxis: [
                    {
                        data: result.normx,
                        axisLabel :{  
                                //interval:0,//横轴信息全部显示
                                //rotate: 60//60度角倾斜显示  
                            } 
                    },
                    {
                        type : 'category',
                        axisLine: {show:false},
                        axisTick: {show:false},
                        axisLabel: {show:false},
                        splitArea: {show:false},
                        splitLine: {show:false},
                        data : ['Line','Bar','Scatter','K','Map']
                    }
                ],
                yAxis: {
                    name:'密度'
                },
                series: [{
                    name: '',
                    type: 'bar',
                    data: result.normy,
                    markPoint: {
                        itemStyle : {
                             normal: {
                                 color:'#1e90ff'
                             }
                         },
                        data:[
                                // {type : 'max', name: '最大值'},
                                // {type : 'min', name: '最小值'},
                                {name : '位置点'+'偏离程度'+result.offset_value, value : result.singleheat, xAxis: result.singleheat_value, yAxis: result.normy[result.singleheat_index]},
                                
                        ]
                    },

                },
                  {
                    name: '',
                    type: 'line',
                    data: result.normy
                }
                ]

            };

        var ecConfig = echarts.config;
        myChart.on('click', function (params) {
            // if (typeof params.seriesIndex != 'undefined') {
            if (params.componentType == 'markPoint') {
                //mes += '  seriesIndex : ' + param.seriesIndex;
                //mes += '  dataIndex : ' + param.dataIndex+result.xEnglishname[param.dataIndex];
                offset_value=result.offset_value;//读取偏离值
                fieldname_english=result.fieldname;//读取字段英文名字
                retrospectfactor(fieldname_english,offset_value);
            }
            console.log(params);
            });

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

    }

        
    //初始化
    $(function(){
            // loadOption_chen();
            // loadGrape_chen();
            $("#coloum_div").hide();

        })
</script>
{% endblock %}