
{% extends "data_import/base.html" %}
{% block title %}{% if title %}{{ title }}{% endif %}{% endblock %}
{% block content %}


<div>
    <p><strong>转炉单炉次单因素质量分析展示</strong></p>
    <p>请输入要选择的炉次号，例如：1634230</p>
    <!--炉次号：<input type="text" name="prime_analyse" value="{{current_tableno}}" id="prime_analyse">-->
    炉次号：<select name="prime_analyse" id="prime_analyse" class="HEAT_NO"></select><br><br>
    钢水成分：<select name="liquid_steel" id="liquid_steel" class="station_name">
        <option value='blank' selected = "selected"></option>
        <option value='MIRON_C'>C</option>
        <option value='MIRON_Si'>Si</option>
        <option value='MIRON_Mn'>Mn</option>
        <option value='MIRON_Pn'>Pn</option>
        <option value='MIRON_S'>S</option>
    </select><br><br>
    <button onclick='liquid_ele()' id='click1'>分析</button>
    <button onclick='cost()' id='click2'>成分分析</button>
	<div style="width:1600px">
	<div id="main1" style="float:left;width:800px;height:500px">左</div>
	<div id="main2" style="float:left;width:800px;height:500px">右</div>
	</div>
	<!--<textarea id="txt" style="width: 800px;height:100px;">下</textarea></div>-->
</div>
<script type="text/javascript"> 
//成本消耗
	$(function(){
             heatno_ha()           
        })
	function heatno_ha(){ 
    $.ajax({
        type: "POST",
        dataType:"json",
        url: "/heat_no_quality" ,
        data: {'greet':'hello'},
        success: function(data){
            pnames=data.result;
            $(".HEAT_NO").append("<option value='blank' selected =\"selected\"></option>");
            for(var pname in pnames){
                 //console.log(pnames[pname]) 
                 $(".HEAT_NO").append("<option value='"+pnames[pname]+"'>"+pnames[pname]+"</option>");
            }
        },
        error: function () {
            alert("error");
            }
        });
        };
    function liquid_ele(){
        var prime_analyse=$("#prime_analyse").val();
        var liquid_steel=$("#liquid_steel").val();
        console.log(prime_analyse)
        console.log(liquid_steel)
        $.ajax({
            type: "post",
            url:  "/liquid_ele",
            data: {'prime_analyse':prime_analyse,'liquid_steel':liquid_steel},
            error: function() {
                alert("错误！！");
            },
            success: function(data) {
                alert("你好哦")
                alert(data.max_ele)
                alert(data.min_ele)
                alert(data.some_ele)
                drawBarChart_ele(data);
            }
        })
    };
    function drawBarChart_ele(result){
        var myChart = echarts.init(document.getElementById('main1'));
        console.log(result.max_ele)
        min_ele=4.0112
        var option = {
            tooltip : {
                formatter: "{a} <br/>{b} : {c}"
            },
            toolbox: {
                feature: {
                restore: {},
                saveAsImage: {}
                }
            },
            series: [
                {
                    name: '成分含量',
                    type: 'gauge',
                    center:['25%','50%'],
                    min:min_ele,
                    max:result.max_ele,
                    detail: {formatter:'{value}'},
                    data: [{value:result.some_ele , name: '成分含量'}]
                },
                {
                    name: '成分含量',
                    type: 'gauge',
                    center:['55%','75%'],
                    min:3,
                    max:34,
                    detail: {formatter:'{value}'},
                    data: [{value:8 , name: '成分含量'}]
                }
            ]
        };
        var ecConfig = echarts.config;
            myChart.on('click', function (params) {
            //if (typeof params.seriesIndex != 'undefined') {
                //mes += '  seriesIndex : ' + param.seriesIndex;
                //mes += '  dataIndex : ' + param.dataIndex+result.xEnglishname[param.dataIndex];
                fieldname_chinese='C';
                fieldname_english='MIRON_C';
                zhengtai_ele(fieldname_chinese,fieldname_english);
            //}
            console.log(params);
            console.log(fieldname_chinese)
            });

    /* setInterval(function () {
            myChart.setOption(option, true);
        },2000);*/
        myChart.setOption(option);
    }; 
    function zhengtai_ele(fieldname_chinese,fieldname_english){
        console.log("你好哦")
        alert("你被调用了")
         $.ajax({
            type: "post",
            url:  "/zhengtai_ele",
            data: {'fieldname_chinese':fieldname_chinese,'fieldname_english':fieldname_english},
            error: function() {
                alert("错误！！");
            },
            success: function(data) {
                alert('有错嘛')
                alert(data)
            }
        })
        
    }


    function cost(){
        var prime_analyse = $("#prime_analyse").val();
        console.log(prime_analyse)
        $.ajax({
            type: "post",
            url:  "/cost",
            data: {'prime_cost':prime_analyse},
            error: function() {
                alert("错误！！");
            },
            success: function(data) {
                alert(data.result);
                alert(data.result.xname)
                alert(data.result.yvalue)
                alert(data.result.offset_result[0]);
                $("#offset").val(data.result.offset_result[0]);
                drawBarChart_cost(data.result);
            }
        })
    };

    function drawBarChart_cost(result){
        var myChart = echarts.init(document.getElementById('main1'));
        var colors = ['#5793f3', '#d14a61', '#675bba','#00c957'];
            // 指定图表的配置项和数据
            var option = {
                color:colors,
                title: {
                    text: '炉次号'+result.heat_no+'的'+result.attribute+'组成',
                    x:'center'
                },
                tooltip: {
                    // trigger: 'axis',
                    // axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                    //     type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        trigger:'item',
                        formatter: function (params){
                            var res = result.xname[params.seriesIndex]+':</br>实际值：'+params.value+result.danwei[params.seriesIndex] + '<br/>偏离程度：'+result.offset_result[params.seriesIndex];                         
                            return res;

                     }
                },
                toolbox: {
                    feature: {
                        dataView: {show: true, readOnly: false},
                        restore: {show: true},
                        saveAsImage: {show: true}
                        }
                },
                legend: {
                    data:['']
                },
                xAxis: {
                    type: 'category',
                    axisTick: {
                    alignWithLabel: true
                    },
                    data: ['单炉次字段']
                },
                yAxis: [{
                    type: 'value',
                    name: '铁水重量(Kg)',
                    min: 0,
                    max: 105000,
                    position: 'left',
                    offset:0,
                    splitLine:{show: false},//去除网格线
                    axisLine: {
                        lineStyle: {
                            color: colors[0]
                        }
                    },
                    // axisLabel: {
                    //     formatter: '{value} Kg'
                    // }
                },
                {
                    type: 'value',
                    name: '耗氧量(NM3)',
                    min: 0,
                    max: 5000,
                    position: 'left',
                    offset: -200,
                    splitLine:{show: false},//去除网格线
                    axisLine: {
                        lineStyle: {
                            color: colors[1]
                        }
                    },
                    // axisLabel: {
                    //     formatter: '{value} NM3'
                    // }
                },
                {
                    type: 'value',
                    name: '生铁(Kg)',
                    min: 0,
                    max: 2000,
                    position: 'right',
                    splitLine:{show: false},//去除网格线
                    offset: -200,
                    axisLine: {
                        lineStyle: {
                            color: colors[2]
                        }
                    },
                    // axisLabel: {
                    //     formatter: '{value} Kg'
                    // }
                },
                {
                    type: 'value',
                    name: '废钢总和(Kg)',
                    min: 0,
                    max: 12000,
                    position: 'right',
                    offset: 0,
                    splitLine:{show: false},//去除网格线
                    axisLine: {
                        lineStyle: {
                            color: colors[3]
                        }
                    },
                    // axisLabel: {
                    //     formatter: '{value} Kg'
                    // }
                }
                ],
                series: [{
                    name: '铁水重量',
                    type: 'bar',
                    barWidth : 80,//柱条（K线蜡烛）宽度
                    barGap: '100%',//柱间距离，默认为柱形宽度的30%，可设固定值
                    barCategoryGap:'60%',//类目间柱形距离，默认为类目间距的20%，可设固定值
                    barMinHeight:10,//柱条最小高度，可用于防止某item的值过小而影响交互
                    data: [result.yvalue[0]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                },
                {
                    name:'耗氧量',
                    type:'bar',
                    barWidth : 80,
                    barGap: '100%',
                    barCategoryGap:'60%',
                    barMinHeight:10,
                    yAxisIndex: 1,
                    data:[result.yvalue[1]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                },
                {
                    name:'生铁',
                    type:'bar',
                    barWidth : 80,
                    barGap: '100%',
                    barCategoryGap:'60%',
                    barMinHeight:10,
                    yAxisIndex: 2,
                    data:[result.yvalue[2]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                },
                {
                    name:'废钢总和',
                    type:'bar',
                    barWidth : 80,
                    barGap: '100%',
                    barCategoryGap:'60%',
                    barMinHeight:10,
                    yAxisIndex: 2,
                    data:[result.yvalue[3]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                }
                ]
            };

            var ecConfig = echarts.config;
            myChart.on('click', function (params) {
            if (typeof params.seriesIndex != 'undefined') {
                //mes += '  seriesIndex : ' + param.seriesIndex;
                //mes += '  dataIndex : ' + param.dataIndex+result.xEnglishname[param.dataIndex];
                fieldname_chinese=result.xname[params.seriesIndex];
                fieldname_english=result.xEnglishname[params.seriesIndex];
                ch_num2(fieldname_chinese,fieldname_english);
            }
            console.log(params);
            });

            myChart.setOption(option);
            // 使用刚指定的配置项和数据显示图表。
    };
    function ch_num2(fieldname_chinese,fieldname_english){
        var field1 = $("#prime_analyse").val();//炉次号
        //var field2 = $("#field2").val();//字段
        //var field2 = $("#bookno1").find("option:selected").val();
        var field2=fieldname_english;
        var typee=1;
        console.log(field1,field2)
            $.ajax({
            type: "post",
            url:  "/ch_num2",
            data: {'heat':field1,'bookno':field2,'typee':typee},
            error: function() {
                alert("404");
            },
            success: function(data) {
                //alert(data.result);
                //alert(data.result.normx);
                //alert(data.result.normy);
                //alert(data.result['singleheat']);
                //alert(data.result['singleheat_value']);
                //alert(data.result.normx[result.singleheat_index]);
                data.result['fieldname_chinese']=fieldname_chinese;
                alert(data.result['fieldname_chinese']);
                drawBarChart_norm(data.result);
            }
        })

    };
    function drawBarChart_norm(result){
        var myChart = echarts.init(document.getElementById('main2'));
        //var bookname=document.getElementById('bookno1')
            // 指定图表的配置项和数据
            var option = {
                title: {
                    //text: bookno = bookname.options[bookname.selectedIndex].text+result.fieldname+'的正态分布'+result.singleheat+','+result.singleheat_value+','+result.normy[result.singleheat_index],
                    text: bookno = result.fieldname_chinese+result.fieldname+'的正态分布',//+result.singleheat+','+result.singleheat_value+','+result.normy[result.singleheat_index],
                    x:'center'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                        type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                     }
                },
                legend: {
                    data:['']
                },
                xAxis: {
                    data: result.normx,
                    axisLabel :{  
                            //interval:0,//横轴信息全部显示
                            //rotate: 60//60度角倾斜显示  
                        } 
                },
                yAxis: {
                    name:'密度'
                },
                series: [{
                    name: '',
                    type: 'bar',
                    data: result.normy,
                    markPoint: {
                        itemStyle : {
                             normal: {
                                 color:'#1e90ff'
                             }
                         },
                        data:[
                                {type : 'max', name: '最大值'},
                                {type : 'min', name: '最小值'},
                                {name : '位置点'+'偏离程度'+result.offset_value, value : result.singleheat, xAxis: result.singleheat_value, yAxis: result.normy[result.singleheat_index]},
                                //{name : '测试点1', value : result.singleheat, xAxis: '97840.0000', yAxis: '0.0003'}
                        ]
                    },
                    // markLine: {
                    //     name:'炉次号'+result.fieldname+'的标线'
                    //     itemStyle : {
                    //         normal: {
                    //             color:'#1e90ff'
                    //         }
                    //     },
                    //     data:[
                    //             [
                    //             {name: '标线1起点', value: result.singleheat, xAxis: result.singleheat, yAxis: 0},
                    //             {name: '标线1终点', xAxis: result.singleheat, yAxis: 0.3}
                    //             ]
                    //            ] 
                        
                    // }
                    // itemStyle: {
                    //         normal: {
                    //         //color: 'tomato',
                    //         //barBorderColor: 'tomato',
                    //         barBorderWidth: 6,
                    //         barBorderRadius:0,
                    //         label : {
                    //             show: true, position: 'top'
                    //         }
                    //     }
                    // }

                },
                  {
                    name: '',
                    type: 'line',
                    data: result.normy
                }
                ]

            };

        var ecConfig = echarts.config;
        myChart.on('click', function (params) {
            // if (typeof params.seriesIndex != 'undefined') {
            if (params.componentType == 'markPoint') {
                //mes += '  seriesIndex : ' + param.seriesIndex;
                //mes += '  dataIndex : ' + param.dataIndex+result.xEnglishname[param.dataIndex];
                offset_value=result.offset_value;//读取偏离值
                fieldname_english=result.fieldname;//读取字段英文名字
                maxfivefactor(fieldname_english,offset_value);
            }
            console.log(params);
            });

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

    }
    
</script>       
{% endblock %}