{% extends "data_import/base.html" %}
{% block title %}{% if title %}{{ title }}{% endif %}{% endblock %}
{% block pagejs %}
<script type="text/javascript" src="/static/data_import/libs/echarts/echarts.js"></script>
{% endblock pagejs %}
{% block content %}


<div>
    <p><strong>转炉质量分析及追溯</strong></p>
    <p>请输入炉次号，例如：1634230</p> 
    炉次号：<input type="text" name="prime_analyse" value="{{current_tableno}}" id="prime_analyse">
    <!-- <button onclick='cost()' id='click2'>铁水含量</button> -->
    <button onclick='produce()' id='click3'>钢水含量</button>
</div>

<div style="width:1600px;height:1000px">
<!-- <div id="main1" style="float:left;width:1000px;height:800px">左</div> -->
<div id="main" style="height:450px ; width: 75%;"></div> 
<div id="main2" style="width:800px;height:500px"></div>
<!--<textarea id="txt" style="width: 800px;height:100px;">下</textarea></div>-->
</div>
<p></p>
<!-- <div>
    <table id='txt' style="width: 900px;height:800px;border:0px;">
    </table>
</div> -->
<div id='cause_area'>
   <!--table用来放置因素追溯的分析结果-->
    <p><strong>转炉工序单炉次字段成本追溯结果：</strong></p>
    <textarea id="cause_txt" style="width: 900px;height:150px;"></textarea>
</div>


<script type="text/javascript" src="/static/data_import/js/loadChart_chen.js"></script>
<script type="text/javascript" src="/static/data_import/js/loadParam.js"></script>
<script type="text/javascript"> 
    //定期更新数据库中表结构表中的期望等参数值
    function updatevalue(){
        $.ajax({
        type: "post",
        url:  "/updatevalue",
        data: {},
        error: function() {
            alert("发生错误！");
        },
        success: function(data) {
            alert(data.state);
        }
     })
    }
    //多条件综合筛选
    function multi_analy(){
        var bookno = $("#bookno2").val();//字段，需要转化为大写
        var gk_no = $("#gk_no1").val();//钢种,不用转化为大写
        var OPERATESHIFT = $("#OPERATESHIFT").val();//班次
        var OPERATECREW = $("#OPERATECREW").val();//班别
        var station = $("#station").val();//工位
        alert("gk_no:"+gk_no+"\nOPERATESHIFT:"+OPERATESHIFT+"\nOPERATECREW:"+OPERATECREW+"\nstation:"+station+"\nbookno:"+bookno);
        $.ajax({
            type: "post",
            url:  "/multi_analy",
            data: {'bookno':bookno,'gk_no':gk_no,'OPERATESHIFT':OPERATESHIFT,'OPERATECREW':OPERATECREW,'station':station},
            error: function() {
                alert("发生错误，可能是无该筛选条件下的数据！");
            },
            success: function(data) {
                //alert("multi_analy");
                alert(data.state);
                //alert(data.result);
                //alert(data.result.xname)
                //alert(data.result.yvalue)
                drawBarChart2(data.result)
            }
         })
    }

    //成本消耗
    function cost(){
        console.log('调用cost')
        var prime_analyse = $("#prime_analyse").val();
        console.log(prime_analyse)
        $.ajax({
            type: "post",
            url:  "/m_quality",
            data: {'prime_cost':prime_analyse},
            error: function() {
                alert("错误！！");
            },
            success: function(data) {
                //alert(data.result);
                //alert(data.result.xname)
                //alert(data.result.yvalue)
                // alert(data.result.offset_result[0]);
                $("#offset").val(data.result.offset_result[0]);
                drawBarChart_cost(data.result);
            }
        })
    };   
    //产品产出
    function produce(){
        var prime_analyse = $("#prime_analyse").val();
        console.log(prime_analyse)
        $.ajax({
            type: "post",
            url:  "/s_quality",
            data: {'prime_produce':prime_analyse},
            error: function() {
                alert("错误！！");
            },
            success: function(data) {
                //alert(data.result)
                //alert(data.result.xname)
                //alert(data.result.yvalue)
                // alert(data.result.offset_result[0]);
                $("#offset1").val(data.result.offset_result[0]);
                //drawBarChart_produce(data.result);
                drawBarChart_ele(data.result)
            }
        })
    };  

    //回归系数因素追溯及其偏离程度
    function retrospectfactor(field,offset_value){
        // var prime_analyse = $("#prime_analyse").val();
        // console.log(prime_analyse)
        // var offset_value = $("#offset").val();//以铁水重量为例，读取炉次字段的偏离值，传递给后台用来定性判断其偏离程度
        // field='MIRON_WGT';
        // var offset_value = $("#offset1").val();//读取炉次字段的偏离值，传递给后台用来定性判断其偏离程度
        // field='TOTAL_SLAB_WGT';
        $.ajax({
            type: "post",
            url:  "/q_max_influence",
            data: {'field':field,'offset_value':offset_value},
            error: function() {
                alert("错误！！");
            },
            success: function(data) {
                //alert(data.result)
                // alert("success");
                // alert(data.offset_number);//字段个数
                // alert(data.xasis_fieldname);//字段英文名数组
                // alert(data.offset_result);//字段偏离程度
                // alert(data.En_to_Ch_result);//字段中文名
                // alert(data.regression_coefficient);
                // $("#txt").empty();//清除表格内容
                // var content='';
                // $("#txt").append("<caption >"+field+"C的追溯分析结果</caption><tr> <th>序号</th><th>影响因素中文名</th><th>影响因素英文名</th><th>影响因素回归系数</th><th>影响因素偏离值</th></tr>");
                // for (var i=0;i<data.offset_number;i++){
                //     content=content+(i+1)+" : "+data.En_to_Ch_result[i]+"; "+data.xasis_fieldname[i]+"; "+data.regression_coefficient[i]+"; "+data.offset_result[i]+"\n";
                //     $("#txt").append(" <tr> <th>"+(i+1)+"</th><th>"+data.En_to_Ch_result[i]+"</th><th>"+data.xasis_fieldname[i]+"</th><th>"+data.regression_coefficient[i]+"</th><th>"+data.offset_result[i]+"</th></tr>")

                // }
                // alert(content);
                  $("#cause_txt").empty();//清除文本框内容
                // $("#cause_txt").append('单炉次'+field+'字段因素追溯的分析结果:\n');
                $("#cause_txt").append('经分析，'+heat_no+'炉次下的'+fieldname_chinese+'('+fieldname_english+')字段，偏离程度为'+offset_value+'。\n成本追溯分析结果如下(前五):\n');      
                for (var i=0;i<data.offset_number;i++){
                    if (i < 5){
                        $("#cause_txt").append('     原因'+(i+1)+' 相关字段为: '+data.En_to_Ch_result[i]+'('+data.xasis_fieldname[i]+")，其偏离程度为："+data.offset_result[i]+'，权重系数为：'+data.regression_coefficient[i]+"。\n");
                    }

                }
                $("#cause_area").show();//
                   
                
            }
        })
    };

    //条形图（投入）与loadChart_chen.js中的drawBarChart相同(多Y轴)
    function drawBarChart_cost(result){
        var myChart = echarts.init(document.getElementById('main1'));
        var colors = ['#5793f3', '#d14a61', '#675bba','#00c957'];
            // 指定图表的配置项和数据
            var option = {
                color:colors,
                title: {
                    text: '炉次号'+result.heat_no+'的'+result.attribute+'组成',
                    x:'center'
                },
                tooltip: {
                    // trigger: 'axis',
                    // axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                    //     type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        trigger:'item',
                        formatter: function (params){
                            var res = result.xname[params.seriesIndex]+':</br>实际值：'+params.value + '<br/>偏离程度：'+result.offset_result[params.seriesIndex]+'</br>定性判断：'+result.qualitative_offset_result[params.seriesIndex];                         
                            return res;

                     }
                },
                toolbox: {
                    feature: {
                        dataView: {show: true, readOnly: false},
                        restore: {show: true},
                        saveAsImage: {show: true}
                        }
                },
                legend: {
                    data:['']
                },
                xAxis: {
                    type: 'category',
                    axisTick: {
                    alignWithLabel: true
                    },
                    data: ['单炉次字段']
                },
                yAxis: [{
                    type: 'value',
                    name: '铁水C含量',
                    min: 4.0200,
                    max: 5.2757,
                    position: 'left',
                    offset:0,
                    splitLine:{show: false},//去除网格线
                    axisLine: {
                        lineStyle: {
                            color: colors[0]
                        }
                    },
                    // axisLabel: {
                    //     formatter: '{value} Kg'
                    // }
                },
                {
                    type: 'value',
                    name: '铁水SI含量',
                    min: 0.0930,
                    max: 0.9368,
                    position: 'left',
                    offset: -200,
                    splitLine:{show: false},//去除网格线
                    axisLine: {
                        lineStyle: {
                            color: colors[1]
                        }
                    },
                    // axisLabel: {
                    //     formatter: '{value} NM3'
                    // }
                },
                {
                    type: 'value',
                    name: '铁水MN含量',
                    min: 0.1677,
                    max: 0.3900,
                    position: 'right',
                    splitLine:{show: false},//去除网格线
                    offset: -200,
                    axisLine: {
                        lineStyle: {
                            color: colors[2]
                        }
                    },
                    // axisLabel: {
                    //     formatter: '{value} Kg'
                    // }
                },
                {
                    type: 'value',
                    name: '铁水P含量',
                    min: 0.0872,
                    max: 0.1476,
                    position: 'right',
                    offset: 0,
                    splitLine:{show: false},//去除网格线
                    axisLine: {
                        lineStyle: {
                            color: colors[3]
                        }
                    },
                    // axisLabel: {
                    //     formatter: '{value} Kg'
                    // }
                }
                ],
                series: [{
                    name: 'C',
                    type: 'bar',
                    barWidth : 80,//柱条（K线蜡烛）宽度
                    barGap: '100%',//柱间距离，默认为柱形宽度的30%，可设固定值
                    barCategoryGap:'60%',//类目间柱形距离，默认为类目间距的20%，可设固定值
                    barMinHeight:5,//柱条最小高度，可用于防止某item的值过小而影响交互
                    data: [result.yvalue[0]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                },
                {
                    name:'SI',
                    type:'bar',
                    barWidth : 80,
                    barGap: '100%',
                    barCategoryGap:'60%',
                    barMinHeight:5,
                    yAxisIndex: 1,
                    data:[result.yvalue[1]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                },
                {
                    name:'MN',
                    type:'bar',
                    barWidth : 80,
                    barGap: '100%',
                    barCategoryGap:'60%',
                    barMinHeight:5,
                    yAxisIndex: 2,
                    data:[result.yvalue[2]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                },
                {
                    name:'P',
                    type:'bar',
                    barWidth : 80,
                    barGap: '100%',
                    barCategoryGap:'60%',
                    barMinHeight:5,
                    yAxisIndex: 2,
                    data:[result.yvalue[3]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                }
                ]
            };

            var ecConfig = echarts.config;
            myChart.on('click', function (params) {
            if (typeof params.seriesIndex != 'undefined') {
                //mes += '  seriesIndex : ' + param.seriesIndex;
                //mes += '  dataIndex : ' + param.dataIndex+result.xEnglishname[param.dataIndex];
                fieldname_chinese=result.xname[params.seriesIndex];
                fieldname_english=result.xEnglishname[params.seriesIndex];
                probability_distribution(fieldname_chinese,fieldname_english,result.offset_result[params.seriesIndex],params.value);
            }
            console.log(params);
            });

            myChart.setOption(option);
            // 使用刚指定的配置项和数据显示图表。
    };
    var cpu_r = 100;  
    var cpu_y= '85%';
    function drawBarChart_ele(result){
        var myChart = echarts.init(document.getElementById('main'));
        console.log(result.max_ele)
        min_ele=4.0112
        var option = {
            tooltip : {
                formatter: "{a} <br/>{b} : {c}"
            },
            toolbox: {
                feature: {
                restore: {},
                saveAsImage: {}
                }
            },
            title:{
                text: '炉次号'+result.heat_no+'的'+result.attribute+'组成',
                x:'center',
                shadowColor: 'rgba(0, 0, 0, 0.5)',
                shadowBlur: 10,
                top:'middle'

                        

            },
            series: [
                    {
                    name: '成分含量',
                    type: 'gauge',
                    center:[ '15%', cpu_y ],
                    radius :cpu_r,
                    min: 0.138,
                    max: 0.9905,
                    splitNumber: 8,
                    detail: {formatter:'{value}'},
                     axisLine: {            // 坐标轴线
                lineStyle: {       // 属性lineStyle控制线条样式
                    width: 10
                }
            },
            axisTick: {            // 坐标轴小标记
                length: 15,        // 属性length控制线长
                lineStyle: {       // 属性lineStyle控制线条样式
                    color: 'auto'
                }
            },
            splitLine: {           // 分隔线
                length: 20,         // 属性length控制线长
                lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
                    color: 'auto'
                }
            },
            title : {
                textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                    fontWeight: 'bolder',
                    fontSize: 20,
                    fontStyle: 'italic'
                }
            },
            detail : {
                textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                    fontWeight: 'bolder'
                }
            },
                    data: [{value:result.yvalue[0] , name: 'C'}]
                },
                {
                    name: '成分含量',
                    type: 'gauge',
                    center:[ '39%', cpu_y ],
                    radius :cpu_r,
                    min: 0.0100,
                    max: 0.8970,
                    splitNumber: 8,
                    detail: {formatter:'{value}'},
                     axisLine: {            // 坐标轴线
                lineStyle: {       // 属性lineStyle控制线条样式
                    width: 10
                }
            },
            axisTick: {            // 坐标轴小标记
                length: 15,        // 属性length控制线长
                lineStyle: {       // 属性lineStyle控制线条样式
                    color: 'auto'
                }
            },
            splitLine: {           // 分隔线
                length: 20,         // 属性length控制线长
                lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
                    color: 'auto'
                }
            },
            title : {
                textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                    fontWeight: 'bolder',
                    fontSize: 20,
                    fontStyle: 'italic'
                }
            },
            detail : {
                textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                    fontWeight: 'bolder'
                }
            },
                    data: [{value:result.yvalue[1] , name: 'SI'}]
                },

               {
                    name: '成分含量',
                    type: 'gauge',
                    center:[ '62%', cpu_y ],
                    radius :cpu_r,
                    min: 0.0100,
                    max: 0.8970,
                    splitNumber: 8,
                    detail: {formatter:'{value}'},
                     axisLine: {            // 坐标轴线
                lineStyle: {       // 属性lineStyle控制线条样式
                    width: 10
                }
            },
            axisTick: {            // 坐标轴小标记
                length: 15,        // 属性length控制线长
                lineStyle: {       // 属性lineStyle控制线条样式
                    color: 'auto'
                }
            },
            splitLine: {           // 分隔线
                length: 20,         // 属性length控制线长
                lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
                    color: 'auto'
                }
            },
            title : {
                textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                    fontWeight: 'bolder',
                    fontSize: 20,
                    fontStyle: 'italic'
                }
            },
            detail : {
                textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                    fontWeight: 'bolder'
                }
            },
                    data: [{value:result.yvalue[2] , name: 'MN'}]
                },
                {
                    name: '成分含量',
                    type: 'gauge',
                    center:[ '85%', cpu_y ],
                    radius :cpu_r,
                    min: 0.0100,
                    max: 0.8970,
                    splitNumber: 8,
                    detail: {formatter:'{value}'},
                     axisLine: {            // 坐标轴线
                lineStyle: {       // 属性lineStyle控制线条样式
                    width: 10
                }
            },
            axisTick: {            // 坐标轴小标记
                length: 15,        // 属性length控制线长
                lineStyle: {       // 属性lineStyle控制线条样式
                    color: 'auto'
                }
            },
            splitLine: {           // 分隔线
                length: 20,         // 属性length控制线长
                lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
                    color: 'auto'
                }
            },
            title : {
                textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                    fontWeight: 'bolder',
                    fontSize: 20,
                    fontStyle: 'italic'
                }
            },
            detail : {
                textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                    fontWeight: 'bolder'
                }
            },
                    data: [{value:result.yvalue[3] , name: 'P'}]
                },
            ]
        };
        var ecConfig = echarts.config;
            myChart.on('click', function (params) {
            if (typeof params.seriesIndex != 'undefined') {
                //mes += '  seriesIndex : ' + param.seriesIndex;
                //mes += '  dataIndex : ' + param.dataIndex+result.xEnglishname[param.dataIndex];
                fieldname_chinese=result.xname[params.seriesIndex];
                fieldname_english=result.xEnglishname[params.seriesIndex];
                probability_distribution(fieldname_chinese,fieldname_english,result.offset_result[params.seriesIndex],params.value);
            }
            console.log(params);
            });
            myChart.setOption(option);

    };


    //条形图（产出）（多Y轴）
    function drawBarChart_produce(result){
        var myChart = echarts.init(document.getElementById('main1'));
        var colors = ['#5793f3', '#d14a61', '#675bba','#00c957'];
            // 指定图表的配置项和数据
            var option = {
                color:colors,
                title: {
                    text: '炉次号'+result.heat_no+'的'+result.attribute+'组成',
                    x:'center'
                },
                tooltip: {
                    // trigger: 'axis',
                    // axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                    //     type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        trigger:'item',
                        formatter: function (params){
                            var res = result.xname[params.seriesIndex]+':</br>实际值：'+params.value+'<br/>偏离程度：'+result.offset_result[params.seriesIndex]+'</br>定性判断：'+result.qualitative_offset_result[params.seriesIndex];                          
                            return res;

                     }
                },
                toolbox: {
                    feature: {
                        dataView: {show: true, readOnly: false},
                        restore: {show: true},
                        saveAsImage: {show: true}
                        }
                },
                legend: {
                    data:['']
                },
                xAxis: {
                    type: 'category',
                    axisTick: {
                    alignWithLabel: true
                    },
                    data: ['单炉次字段']
                },
                yAxis: [{
                    type: 'value',
                    name: 'C',
                    min: 0.138,
                    max: 0.9905,
                    position: 'left',
                    offset:0,
                    splitLine:{show: false},//去除网格线
                    axisLine: {
                        lineStyle: {
                            color: colors[0]
                        }
                    },
                    // axisLabel: {
                    //     formatter: '{value} Kg'
                    // }
                },
                {
                    type: 'value',
                    name: 'SI',
                    min: 0.0001,
                    max: 0.4200,
                    position: 'left',
                    offset: -250,
                    splitLine:{show: false},//去除网格线
                    axisLine: {
                        lineStyle: {
                            color: colors[1]
                        }
                    },
                    // axisLabel: {
                    //     formatter: '{value} NM3'
                    // }
                },
                {
                    type: 'value',
                    name: 'MN',
                    min: 0.0100,
                    max: 0.8970,
                    position: 'right',
                    splitLine:{show: false},//去除网格线
                    offset: 0,
                    axisLine: {
                        lineStyle: {
                            color: colors[2]
                        }
                    },
                    // axisLabel: {
                    //     formatter: '{value} Kg'
                    // }
                }
                ],
                series: [{
                    name: 'C',
                    type: 'bar',
                    barWidth : 100,//柱条（K线蜡烛）宽度
                    barGap: '100%',//柱间距离，默认为柱形宽度的30%，可设固定值
                    barCategoryGap:'60%',//类目间柱形距离，默认为类目间距的20%，可设固定值
                    barMinHeight:10,//柱条最小高度，可用于防止某item的值过小而影响交互
                    data: [result.yvalue[0]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                },
                {
                    name:'SI',
                    type:'bar',
                    barWidth : 100,
                    barGap: '100%',
                    barCategoryGap:'60%',
                    barMinHeight:10,
                    yAxisIndex: 1,
                    data:[result.yvalue[1]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                },
                {
                    name:'MN',
                    type:'bar',
                    barWidth : 100,
                    barGap: '100%',
                    barCategoryGap:'60%',
                    barMinHeight:10,
                    yAxisIndex: 2,
                    data:[result.yvalue[2]],
                    itemStyle: {
                        normal: {
                            label : {
                                show: true, position: 'top'
                            }
                        }
                    }
                }
                ]
            };

            var ecConfig = echarts.config;
            myChart.on('click', function (params) {
            if (typeof params.seriesIndex != 'undefined') {
                //mes += '  seriesIndex : ' + param.seriesIndex;
                //mes += '  dataIndex : ' + param.dataIndex+result.xEnglishname[param.dataIndex];
                fieldname_chinese=result.xname[params.seriesIndex];
                fieldname_english=result.xEnglishname[params.seriesIndex];
                probability_distribution(fieldname_chinese,fieldname_english,result.offset_result[params.seriesIndex],params.value);
            }
            console.log(params);
            });

            myChart.setOption(option);
            // 使用刚指定的配置项和数据显示图表。
    };

    // 正态分布画图
    //与loadChart_chen.js中的drawBarChart_norm相同
    function drawBarChart_norm(result){
        var myChart = echarts.init(document.getElementById('main2'));
        //var bookname=document.getElementById('bookno1')
            // 指定图表的配置项和数据
            var option = {
                title: {
                    //text: bookno = bookname.options[bookname.selectedIndex].text+result.fieldname+'的正态分布'+result.singleheat+','+result.singleheat_value+','+result.normy[result.singleheat_index],
                    text: bookno = result.fieldname_chinese+result.fieldname+'的正态分布',//+result.singleheat+','+result.singleheat_value+','+result.normy[result.singleheat_index],
                    x:'center'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                        type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                     }
                },
                legend: {
                    data:['']
                },
                xAxis: [
                    {
                        data: result.normx,
                        axisLabel :{  
                                //interval:0,//横轴信息全部显示
                                //rotate: 60//60度角倾斜显示  
                            } 
                    },
                    {
                        type : 'category',
                        axisLine: {show:false},
                        axisTick: {show:false},
                        axisLabel: {show:false},
                        splitArea: {show:false},
                        splitLine: {show:false},
                        data : ['Line','Bar','Scatter','K','Map']
                    }
                ],
                yAxis: {
                    name:'密度'
                },
                series: [{
                    name: '',
                    type: 'bar',
                    data: result.normy,
                    markPoint: {
                        itemStyle : {
                             normal: {
                                 color:'#1e90ff'
                             }
                         },
                        data:[
                                // {type : 'max', name: '最大值'},
                                // {type : 'min', name: '最小值'},
                                {name : '位置点'+'偏离程度'+result.offset_value, value : result.singleheat, xAxis: result.singleheat_value, yAxis: result.normy[result.singleheat_index]},
                                //{name : '测试点1', value : result.singleheat, xAxis: '97840.0000', yAxis: '0.0003'}
                        ]
                    },
                    // markLine: {
                    //     name:'炉次号'+result.fieldname+'的标线'
                    //     itemStyle : {
                    //         normal: {
                    //             color:'#1e90ff'
                    //         }
                    //     },
                    //     data:[
                    //             [
                    //             {name: '标线1起点', value: result.singleheat, xAxis: result.singleheat, yAxis: 0},
                    //             {name: '标线1终点', xAxis: result.singleheat, yAxis: 0.3}
                    //             ]
                    //            ] 
                        
                    // }
                    // itemStyle: {
                    //         normal: {
                    //         //color: 'tomato',
                    //         //barBorderColor: 'tomato',
                    //         barBorderWidth: 6,
                    //         barBorderRadius:0,
                    //         label : {
                    //             show: true, position: 'top'
                    //         }
                    //     }
                    // }

                },
                  {
                    name: '',
                    type: 'line',
                    data: result.normy
                }
                ]

            };

        var ecConfig = echarts.config;
        myChart.on('click', function (params) {
            // if (typeof params.seriesIndex != 'undefined') {
            if (params.componentType == 'markPoint') {
                //mes += '  seriesIndex : ' + param.seriesIndex;
                //mes += '  dataIndex : ' + param.dataIndex+result.xEnglishname[param.dataIndex];
                offset_value=result.offset_value;//读取偏离值
                fieldname_english=result.fieldname;//读取字段英文名字
                retrospectfactor(fieldname_english,offset_value);
            }
            console.log(params);
            });

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

    }

    //正态分布+概率分布
    function probability_distribution(fieldname_chinese,fieldname_english,offset_value,actual_value){
        var field1 = $("#prime_analyse").val();//炉次号
        //var field2 = $("#field2").val();//字段
        //var field2 = $("#bookno1").find("option:selected").val();
        var fieldname_english=fieldname_english;//字段英文名
        var fieldname_chinese=fieldname_chinese;//字段中文名
        console.log(field1,fieldname_english,fieldname_chinese);
            $.ajax({
            type: "post",
            url:  "/probability_distribution",
            data: {'heat_no':field1,'fieldname_english':fieldname_english,'fieldname_chinese':fieldname_chinese,'offset_value':offset_value,'actual_value':actual_value},
            error: function() {
                alert("404");
            },
            success: function(data) {
                // alert("enter probability_distribution");
                //概率分布
                // alert(data.ana_result['scope']);
                // alert(data.ana_result['num']);
                //正态分布
                // alert(data.normal_result['normx']);
                // alert(data.normal_result['normy']);
                probability_distribution_picture(data);

            }
        })

    }; 

    //正态分布+概率分布画图
    function probability_distribution_picture(result){
        var myChart = echarts.init(document.getElementById('main2'));
        //var bookname=document.getElementById('bookno1')
            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: result.normal_result.fieldname_chinese+'('+result.normal_result.fieldname+')的概率(bar)及正态(line)分布',
                    x:'center'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                        type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                     }
                },
                legend: {
                    data:['']
                },
                xAxis: [
                    {
                        data: result.normal_result.normx,
                        axisLabel :{  
                                //interval:0,//横轴信息全部显示
                                //rotate: 60//60度角倾斜显示  
                            } 
                    },
                    {
                        type : 'category',
                        axisLine: {show:true},
                        axisTick: {show:true},
                        axisLabel: {show:true},
                        splitArea: {show:true},
                        splitLine: {show:true},
                        data : result.ana_result.scope
                    }
                ],
                yAxis: [{
                    name:'正态分布密度(line)'
                },
                {
                    name:'概率分布密度(bar)'
                }
                ],
                series: [{
                    name: '正态分布',
                    type: 'line',
                    xAxisIndex:0,
                    yAxisIndex:0,
                    data: result.normal_result.normy,
                    // markPoint: {
                    //     itemStyle : {
                    //          normal: {
                    //              color:'#1e90ff'
                    //          }
                    //      },
                    //     data:[
                    //             // {type : 'max', name: '最大值'},
                    //             // {type : 'min', name: '最小值'},
                    //             {name : '位置点偏离程度'+result.normal_result.offset_value, value : result.normal_result.actual_value, xAxis: result.normal_result.match_value, yAxis: result.normal_result.normy[result.normal_result.match_index]},
                    //     ]
                    // },
                    markLine: {
                        name:'炉次号'+result.normal_result.fieldname+'的标线',
                        itemStyle : {
                            normal: {
                                color:'#1e90ff'
                            }
                        },
                        data:[
                                [
                                {name: '位置点偏离程度'+result.normal_result.offset_value, value:  result.normal_result.actual_value, xAxis: result.normal_result.match_value, yAxis: 0},
                                {name: '标线1终点', xAxis: result.normal_result.match_value, yAxis: 'max'}
                                ],
                                [{
                                    // 固定起点的 x 位置，用于模拟一条指向最大值的水平线
                                    name: '位置点偏离程度'+result.normal_result.offset_value,
                                    value: result.normal_result.offset_value,
                                    yAxis: 'max',
                                    xAxis: result.normal_result.match_value
                                 }, 
                                 {
                                    type: 'max'
                                }],
                               ] 
                        
                    },
                    // itemStyle: {
                    //         normal: {
                    //         color: 'tomato',
                    //         // label : {
                    //         //     show: false, position: 'top'
                    //         // }
                    //     }
                    // }

                },
                  {
                    name: '概率分布',
                    type: 'bar',
                    xAxisIndex:1,//xAxis坐标轴数组的索引，指定该系列数据所用的横坐标轴
                    yAxisIndex:1,
                    data: result.ana_result.num,
                    // itemStyle: {
                    //     normal: {
                    //     color: '#675bba',
                    //     }
                    // }
                }
                ]

            };

        var ecConfig = echarts.config;
        myChart.on('click', function (params) {
            // if (params.componentType == 'markPoint') {
                //mes += '  seriesIndex : ' + param.seriesIndex;
                //mes += '  dataIndex : ' + param.dataIndex+result.xEnglishname[param.dataIndex];
                offset_value=result.normal_result.offset_value;//读取偏离值
                fieldname_english=result.normal_result.fieldname;//读取字段英文名字
                retrospectfactor(fieldname_english,offset_value);
            // }
            console.log(params);
            });

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

    }

    //自动加载钢种
    function loadGrape_chen(){ 
        $.ajax({
        type: "POST",
        dataType:"json",
        url: "/getGrape" ,
        data: {'greet':'hello'},
        success: function(data){
            //alert(data.result);
            //alert(data.result.length);
            pnames=data.result;
            $(".gangzhong_name").append("<option value='blank' selected =\"selected\"></option>");
            for(var pname in pnames){
                console.log(pnames[pname]) 
                $(".gangzhong_name").append("<option value='"+pnames[pname]+"'>"+pnames[pname]+"</option>");
            }
        },
        error: function () {
            alert("error");
            }
         });
        };
        
    //初始化
    $(function(){
            loadOption_chen();
            loadGrape_chen();
            $("#cause_area").hide();

        })
</script>
{% endblock %}