{% extends "data_import/base.html" %}
{% block title %}{% if title %}{{ title }}{% endif %}{% endblock %}
{% block content %}
<h3>销售部分：空间分析</h3> 
<!-- <a href='/market_share'>>>>跳转到：市场份额分析</a>&nbsp;&nbsp;&nbsp;
<a href='/time'>>>>跳转到：时间分析</a>&nbsp;&nbsp;&nbsp;
<a href='/trade'>>>>跳转到：钢种分析</a>&nbsp;&nbsp;&nbsp;
<a href='/cust_time'>>>>跳转到：客户分析（按时间）</a>&nbsp;&nbsp;&nbsp;
<a href='/cust_trade'>>>>跳转到：客户分析（按钢种）</a>&nbsp;&nbsp;&nbsp;
<a href='/stockControl'>>>>跳转到：库存管理</a> -->
<br>
<br>
{% csrf_token %}
<!--<h3> 输入 </h3>-->
<div>
    <!-- 分析模块:
    <select name="select_module" id="select_module" class="xla_1">
        <option value="1">空间分析</option>
        <option value="2">时间分析</option>
        <option value="3">钢种分析</option>
        <option value="4">客户分析</option>
    </select> -->
    分析内容:
    <select name="select_aspect" id="select_aspect" class="xla_2">
        <option value="1">总销量</option>
        <option value="2">总销售额</option>
        <option value="3">退货率</option>
        <option value="4">质量问题个数</option>
    </select>
    时间依据:
    <select name="select_time_choose" id="select_time_choose" class="xla_3">
        <option value="1">订单时间</option>
        <option value="2">发货时间</option>
        <option value="3">出货销账时间</option>
        <option value="4">派车结算时间</option>
        <option value="5">装车通知时间</option>
        <option value="6">订单存货时间</option>
        <option value="7">质保书时间</option>
        <option value="8">外库接收时间</option>
    </select>
   
</div>
<br>
<div>
    起始时间: <input name="select_date1" id="select_date1" type="date"  value = '2016-05-01' / >
    终止时间: <input name="select_date2" id="select_date2" type="date"  value = '2016-07-31' / >
    快捷按钮：
    <button id="btnSelectDate_oneYear" onclick="SelectDate_default()" > 默认值 </button>
    <button id="btnSelectDate_oneMonth" onclick="SelectDate_oneMonth()" > 近一月 </button>
    <button id="btnSelectDate_threeMonth" onclick="SelectDate_threeMonth()" > 近三月 </button>
    <button id="btnSelectDate_halfYear" onclick="SelectDate_halfYear()" > 近半年 </button>
    <button id="btnSelectDate_oneYear" onclick="SelectDate_oneYear()" > 近一年 </button>
    
</div>

<br>
<div>
 地点范围:
    <select name="select_space" id="select_space" class="xla_4">
        <option value="1">世界范围内</option>
        <option value="2">中国范围内</option>
        <option value="3">山东省内</option>
    </select><br>
</div>
<br>
<div>
    钢种选择:
    <input type="checkbox" name="select_tradeNo" id="select_tradeNo" value=45>45
    <input type="checkbox" name="select_tradeNo" id="select_tradeNo" value=50>50
    <input type="checkbox" name="select_tradeNo" id="select_tradeNo" value=C82DA>C82DA
    <input type="checkbox" name="select_tradeNo" id="select_tradeNo" value=60Si2Mn>60Si2Mn
    <input type="checkbox" name="select_tradeNo" id="select_tradeNo" value=C82A>C82A
</div>
<br>

<button id="btnDrawChart">分析结果绘图</button>
<!-- <button id="btnUpdateMysql" onclick="UpdateMysql()">更新数据仓库</button> -->
<br>
<br>
<div id="main4" style="width: 800px;height:400px;"></div>
<div id="main5" style="width: 60px;height:400px;">
<textarea id="txt" style="width: 800px;height:100px;"></textarea>
</div>
<br>
<script type="text/javascript" src="/static/data_import/js/loadDateSelect.js"></script>
<script type="text/javascript">
  
    $('#btnDrawChart').click(function(){
        //var module = $ ("#select_module").find("option:selected").val();
        var module = 1;
        var aspect = $ ("#select_aspect").find("option:selected").val();
        var dateChoose = $ ("#select_time_choose").find("option:selected").val();
        var space = $ ("#select_space").find("option:selected").val();
        var tradeNo = $ ("#select_trade").find("option:selected").val()
        var sql_cust = ''
        var module_unit_key = ''
        var sql_date1_ = document.getElementById("select_date1").value
        sql_date1_1 = sql_date1_.substring(0, 4)
        sql_date1_2 = sql_date1_.substring(5, 7)
        sql_date1_3 = sql_date1_.substring(8)
        sql_date1 = sql_date1_1 + sql_date1_2 + sql_date1_3 
        var sql_date2_ = document.getElementById("select_date2").value
        sql_date2_1 = sql_date2_.substring(0, 4)
        sql_date2_2 = sql_date2_.substring(5, 7)
        sql_date2_3 = sql_date2_.substring(8)
        sql_date2 = sql_date2_1 + sql_date2_2 + sql_date2_3 

        var space_detail = "" 

        var arr = new Array();
        var tradeNoNoNo = ""
        comma = ","
        var items = document.getElementsByName("select_tradeNo");                 
        for (i = 0; i < items.length; i++) {                    
            if (items[i].checked) {                        
                arr.push(items[i].value);
                if (tradeNoNoNo == ""){
                    tradeNoNoNo = tradeNoNoNo + items[i].value;
                }else{
                    tradeNoNoNo = tradeNoNoNo + comma + items[i].value;
                }
            }                
        }                 
        //console.log(arr);            
        //console.log(tradeNoNoNo); 
        //console.log(tradeNo);
        var dateChoose_name = ''
        if (dateChoose == 1){
            dateChoose_name = '订单时间';
        }else if (dateChoose == 2){
            dateChoose_name = '发货时间';
        }else if(dateChoose == 3){
            dateChoose_name = '出货销账时间';
        }else if(dateChoose == 4){
            dateChoose_name = '派车结算时间';
        }else if (dateChoose == 5){
            dateChoose_name = '装车通知时间';
        }else if(dateChoose == 6){
            dateChoose_name = '订单存货时间';
        }else if(dateChoose == 7){
            dateChoose_name = '质保书时间';
        }else if(dateChoose == 8){
            dateChoose_name = '外库接收时间';
        }else{
            dateChoose_name = '时间选择选项输入错误';
        }

        var space_name = ''
        if (space == 1){
            space_name = '世界';
        }else if (space == 2){
            space_name = '中国';
        }else{
            space_name = '山东';
        }

        //图表正在加载中
        var myChart = echarts.init(document.getElementById('main4'));
        myChart.showLoading({
                    text: "图表数据正在努力加载...\n请不要点击其他按钮~"
                });
        
        $.ajax({
            type: "post",
            url:  "/space",
            data: {'module':module,'aspect':aspect,'dateChoose':dateChoose,'space':space,'tradeNo':tradeNoNoNo,'sql_date1':sql_date1,'sql_date2':sql_date2,'sql_cust':sql_cust,'space_detail':space_detail,'module_unit_key':module_unit_key,'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()}
            
            }
        ).done(function(data) {
            console.log(JSON.stringify(data.result));
            if ( space == 1 ){
                drawMapChartWorld(data.result,tradeNoNoNo,data.aspect_name,data.unite,data.maxValue,data.module_name,sql_date1_,sql_date2_,dateChoose_name,space_name);
            }else if ( space == 2 ){
                drawMapChartChina(data.result,tradeNoNoNo,data.aspect_name,data.maxValue,data.module_name,sql_date1_,sql_date2_,dateChoose_name,space_name,data.unite);
            }else {
                drawMapChartShandong(data.result,tradeNoNoNo,data.aspect_name,data.unite,data.maxValue,data.module_name,sql_date1_,sql_date2_,dateChoose_name,space_name);
            }
            //console.log(tradeNo);
            //console.log(sql_date1)
            //console.log(sql_date2)
            console.log(data.unite)

            $("#txt").empty();
            $("#txt").append(data.describe); 
             }).fail(function(){
                console.log("wrong");
             });
    });

    function UpdateMysql(){
        $.ajax({
        type: "POST",
        dataType:"json",
        url: "/update_mysql_space" ,
        data: {'greet':'hello'},
        success: function(data){
            console.log("更新数据仓库的 ajax 可以执行");
        },
        error: function () {
            alert("error");
            }
         });
    };



</script>
<script type="text/javascript" src="/static/data_import/js/loadChart.js"></script>
<!-- <script type="text/javascript">
    require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
</script> -->
{% endblock %}