{% extends "data_import/base.html" %}
{% load static %}
{% block title %}{% if title %}{{ title }}{% endif %}{% endblock %}

{% block pagejs %}
<script type="text/javascript" src="{% static  'data_import/js/steelprice.js'%}"></script>
{% endblock pagejs %}

{% block content %}

<!-- start portfolio Section -->
<section id="protfolio_sec">
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
            <div class="title_sec">
                <h1>价格预测</h1>
                <h2>包括选择种类、影响因素、预测时间、尺度，给出相应的价格预测曲线，包括历史价格展示和未来价格预测两部分</h2>
            </div>          
        </div>      
        <div class="col-lg-12">
            <div class="portfolio-filter text-uppercase text-center">
                <ul class="filter">
                    <li class="active" data-filter=".price-history">钢材价格历史走势</li>
                    <li data-filter=".price-predict">钢材价格趋势预测</li>
                </ul>
            </div>
             
            <div class="all-portfolios">
                <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                    <div class="single-portfolio price-history">
                        <form role="form">
                            <div class="form-group">
                                <input type="text" name="" class="form-control">
                            </div>

                            
                        </form>
                    </div>              
                </div>

                <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                    <div class="single-portfolio price-predict">
                        <div class="col-md-4">
                        <form role="form">
                          <div class="form-group">
                            <input class="form-control input-lg" type="text" placeholder=".input-lg">
                          </div>
                          <div class="form-group">
                            <input class="form-control" type="text" placeholder="默认输入">
                          </div>
                          <div class="form-group">
                            <input class="form-control input-sm" type="text" placeholder=".input-sm">
                          </div>
                          <div class="form-group"></div>
                          <div class="form-group">
                            <select class="form-control input-lg" placeholder="选择时间尺度">
                              <option value="day">日</option>
                              <option value="week">周</option>
                              <option value="halfmonth">半月</option>
                              <option value="month">月</option>
                              <option value="threemonth">季度</option>
                              <option value="halfyear">半年</option>
                              <option value="year">年</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <select class="form-control">
                              <option value="">默认选择</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <select class="form-control input-sm">
                              <option value="">.input-sm</option>
                            </select>
                          </div>
                          <div class="row">
                            <div class="col-lg-2">
                              <input type="text" class="form-control" placeholder=".col-lg-2">
                            </div>
                            <div class="col-lg-3">
                              <input type="text" class="form-control" placeholder=".col-lg-3">
                            </div>
                            <div class="col-lg-4">
                              <input type="text" class="form-control" placeholder=".col-lg-4">
                            </div>
                          </div>
                        </form>
                        </div>
                        <div class="col-md-8">
                            <div id="main" style="width: 600px;height:400px;"></div>
                        </div>
                    </div>              
                </div>
            </div>


        </div>
            
    </div>          
</div>
</section>
<!-- End Portfolio Section -->        

<script type="text/javascript" src="/static/data_import/js/loadChart.js"></script>
<script type="text/javascript" src="/static/data_import/js/steelprice.js"></script>

{% endblock %}


