{% extends "data_import/base.html" %}
{% load static %}
{% block title %}{% if title %}{{ title }}{% endif %}{% endblock %}

{% block pagejs %}
<script type="text/javascript" src="{% static  'data_import/js/steelprice.js'%}"></script>
{% endblock pagejs %}

{% block content %}

<!-- start portfolio Section -->
<section id="protfolio_sec">
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs12 ">
            <div class="title_sec">
                <h1>价格预测</h1>
                <h2>包括选择种类、影响因素、预测时间、尺度，给出相应的价格预测曲线，包括历史价格展示和未来价格预测两部分</h2>
            </div>          
        </div>      
        <div class="col-lg-12">
            <div class="portfolio-filter text-uppercase text-center">
                <ul class="filter">
                    <li class="active" data-filter=".price-history">钢材价格历史走势</li>
                    <li data-filter=".price-predict">钢材价格趋势预测</li>
                </ul>
            </div>
             
            <div class="all-portfolios">
                <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                    <div class="single-portfolio price-history">
                        <div id="main" style="width: 600px;height:400px;"></div>
                    </div>              
                </div>

                <div class="col-sm-12  col-lg-12 col-md-12 col-xs-12 ">
                    <div class="single-portfolio price-predict">

                        <h3 class="demo-panel-title">price predict</h3>
                        <select class="form-control select select-primary" data-toggle="select">
                        <option value="0">Choose hero</option>
                        <option value="1">Spider Man</option>
                        <option value="2">Wolverine</option>
                        <option value="3">Captain America</option>
                        <option value="4" selected>X-Men</option>
                        <option value="5">Crocodile</option>
                        </select>
                    </div>              
                </div>
            </div>


        </div>
            
    </div>          
</div>
</section>
<!-- End Portfolio Section -->        

<script type="text/javascript" src="/static/data_import/js/loadChart.js"></script>
<script type="text/javascript" src="/static/data_import/js/steelprice.js"></script>

{% endblock %}


